In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("serie-storiche-ristoranti.csv", parse_dates=["data"])
df.sort_values(by="data", inplace=True)
df

           data  scontrini  lordototale id_ristorante
0    2018-01-01    21884.0     500409.9          R000
1    2018-01-01    19961.0     252223.2          R003
2    2018-01-01    19541.0     408110.4          R005
3    2018-01-01    23173.0     516431.7          R004
4    2018-01-01    28101.0     782775.9          R001
...         ...        ...          ...           ...
8813 2022-04-30        0.0          0.0          R003
8815 2022-04-30        0.0          0.0          R005
8811 2022-04-30        0.0          0.0          R004
8812 2022-04-30        0.0          0.0          R000
8816 2022-04-30        0.0          0.0          R001

[8817 rows x 4 columns]

In [3]:
inforistoranti = pd.read_csv("Dati/Ristoranti/RistorantiCitta.csv", sep=';')
inforistoranti

  Codice    Location
0   R000  Montebello
1   R003    Piacenza
2   R005     Voghera
3   R004   Stradella
4   R001    Piacenza
5   R002    Piacenza

In [4]:
### Unione dataset df e cittaristoranti per aggiungere colonna Location
df = df.merge(inforistoranti, left_on='id_ristorante', right_on='Codice')
df

           data  scontrini  lordototale id_ristorante Codice    Location
0    2018-01-01    21884.0   500409.900          R000   R000  Montebello
1    2018-01-02        0.0        0.000          R000   R000  Montebello
2    2018-01-03        0.0        0.000          R000   R000  Montebello
3    2018-01-04        0.0        0.000          R000   R000  Montebello
4    2018-01-05        0.0        0.000          R000   R000  Montebello
...         ...        ...          ...           ...    ...         ...
8812 2022-04-26      624.0    19369.152          R002   R002    Piacenza
8813 2022-04-27        0.0        0.000          R002   R002    Piacenza
8814 2022-04-28      723.0    24217.650          R002   R002    Piacenza
8815 2022-04-29        0.0        0.000          R002   R002    Piacenza
8816 2022-04-30        0.0        0.000          R002   R002    Piacenza

[8817 rows x 6 columns]

In [5]:
df.drop('Codice', axis = 1, inplace=True)
df

           data  scontrini  lordototale id_ristorante    Location
0    2018-01-01    21884.0   500409.900          R000  Montebello
1    2018-01-02        0.0        0.000          R000  Montebello
2    2018-01-03        0.0        0.000          R000  Montebello
3    2018-01-04        0.0        0.000          R000  Montebello
4    2018-01-05        0.0        0.000          R000  Montebello
...         ...        ...          ...           ...         ...
8812 2022-04-26      624.0    19369.152          R002    Piacenza
8813 2022-04-27        0.0        0.000          R002    Piacenza
8814 2022-04-28      723.0    24217.650          R002    Piacenza
8815 2022-04-29        0.0        0.000          R002    Piacenza
8816 2022-04-30        0.0        0.000          R002    Piacenza

[8817 rows x 5 columns]

In [6]:
### Aggiunta colonna regione e provincia in base alla Location
pavia = ['Montebello', 'Voghera', 'Stradella']

for index, row in df.iterrows():
    if row['Location'] in pavia:
        df.loc[index,'Regione'] = 'Lombardia'
        df.loc[index,'Provincia'] = 'Pavia'
    else:
        df.loc[index,'Regione'] = 'Emilia Romagna'
        df.loc[index,'Provincia'] = 'Piacenza'
        
df

,data,scontrini,lordototale,id_ristorante,Location,Regione,Provincia
0,2018-01-01,21884.0,500409.900,R000,Montebello,Lombardia,Pavia
1,2018-01-02,0.0,0.000,R000,Montebello,Lombardia,Pavia
2,2018-01-03,0.0,0.000,R000,Montebello,Lombardia,Pavia
3,2018-01-04,0.0,0.000,R000,Montebello,Lombardia,Pavia
4,2018-01-05,0.0,0.000,R000,Montebello,Lombardia,Pavia
...,...,...,...,...,...,...,...
8812,2022-04-26,624.0,19369.152,R002,Piacenza,Emilia Romagna,Piacenza
8813,2022-04-27,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza
8814,2022-04-28,723.0,24217.650,R002,Piacenza,Emilia Romagna,Piacenza
8815,2022-04-29,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza
8816,2022-04-30,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza

### WEEKEND, FESTIVI, ...

In [7]:
df['Giorno'] = df['data'].dt.day_name()
df

,data,scontrini,lordototale,id_ristorante,Location,Regione,Provincia,Giorno
0,2018-01-01,21884.0,500409.900,R000,Montebello,Lombardia,Pavia,Monday
1,2018-01-02,0.0,0.000,R000,Montebello,Lombardia,Pavia,Tuesday
2,2018-01-03,0.0,0.000,R000,Montebello,Lombardia,Pavia,Wednesday
3,2018-01-04,0.0,0.000,R000,Montebello,Lombardia,Pavia,Thursday
4,2018-01-05,0.0,0.000,R000,Montebello,Lombardia,Pavia,Friday
...,...,...,...,...,...,...,...,...
8812,2022-04-26,624.0,19369.152,R002,Piacenza,Emilia Romagna,Piacenza,Tuesday
8813,2022-04-27,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Wednesday
8814,2022-04-28,723.0,24217.650,R002,Piacenza,Emilia Romagna,Piacenza,Thursday
8815,2022-04-29,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Friday
8816,2022-04-30,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Saturday

In [8]:
### Creo variabile booleana 'Weekend'

df['Weekend'] = ((df['Giorno'] == 'Saturday') | (df['Giorno'] == 'Sunday'))
df

,data,scontrini,lordototale,id_ristorante,Location,Regione,Provincia,Giorno,Weekend
0,2018-01-01,21884.0,500409.900,R000,Montebello,Lombardia,Pavia,Monday,False
1,2018-01-02,0.0,0.000,R000,Montebello,Lombardia,Pavia,Tuesday,False
2,2018-01-03,0.0,0.000,R000,Montebello,Lombardia,Pavia,Wednesday,False
3,2018-01-04,0.0,0.000,R000,Montebello,Lombardia,Pavia,Thursday,False
4,2018-01-05,0.0,0.000,R000,Montebello,Lombardia,Pavia,Friday,False
...,...,...,...,...,...,...,...,...,...
8812,2022-04-26,624.0,19369.152,R002,Piacenza,Emilia Romagna,Piacenza,Tuesday,False
8813,2022-04-27,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Wednesday,False
8814,2022-04-28,723.0,24217.650,R002,Piacenza,Emilia Romagna,Piacenza,Thursday,False
8815,2022-04-29,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Friday,False
8816,2022-04-30,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Saturday,True

In [9]:
### In questa lista inserisco i festivi "fissi" piÃ¹ Pasquetta che cambia di anno in anno. Non metto la Pasqua perchÃ¨ cade
### sempre di domenica, e tutte le domeniche sono festive. Ho considerato festivo anche San Valentino, data l'importanza
### per i ristoranti
festivi = ['2018-01-01', '2018-01-06','2018-04-25', '2018-05-01', '2018-06-02', '2018-08-15', '2018-11-01', '2018-12-08',
           '2018-12-25', '2018-12-26', '2019-01-01', '2019-01-06', '2019-04-25', '2019-05-01', '2019-06-02', '2019-08-15', 
           '2019-11-01', '2019-12-08', '2019-12-25', '2019-12-26', '2020-01-01', '2020-01-06', '2020-04-25', '2020-05-01', 
           '2020-06-02', '2020-08-15', '2020-11-01', '2020-12-08', '2020-12-25', '2020-12-26', '2021-01-01', '2021-01-06', 
           '2021-04-25', '2021-05-01', '2021-06-02', '2021-08-15', '2021-11-01', '2021-12-08', '2021-12-25', '2021-12-26',
           '2022-01-01', '2022-01-06', '2022-04-25', '2018-04-02', '2019-04-22', '2020-04-13', '2021-04-05', '2022-04-18',
           '2018-02-14', '2019-02-14', '2020-02-14', '2021-02-14', '2022-02-14']

### Il patrono di Montebello si festeggia la prima domenica di ottobre (essendo domenica non specifico ulteriori date)
patrono_piacenza = ['2018-07-04', '2019-07-04', '2020-07-04', '2021-07-04']
patrono_stradella = ['2018-07-12', '2019-07-12', '2020-07-12', '2021-07-12']
patrono_voghera = ['2018-05-22', '2019-05-22', '2020-05-22', '2021-05-22']

In [10]:
### Aggiungo variabile booleana 'Festivi'

df['Festivo'] = (((df['Giorno'] == 'Sunday') | (df['data'].isin(festivi))) | 
                ((df['data'].isin(patrono_piacenza)) & (df['Location'] == 'Piacenza')) |
                ((df['data'].isin(patrono_stradella)) & (df['Location'] == 'Stradella')) |
                ((df['data'].isin(patrono_voghera)) & (df['Location'] == 'Voghera')))

df

,data,scontrini,lordototale,id_ristorante,Location,Regione,Provincia,Giorno,Weekend,Festivo
0,2018-01-01,21884.0,500409.900,R000,Montebello,Lombardia,Pavia,Monday,False,True
1,2018-01-02,0.0,0.000,R000,Montebello,Lombardia,Pavia,Tuesday,False,False
2,2018-01-03,0.0,0.000,R000,Montebello,Lombardia,Pavia,Wednesday,False,False
3,2018-01-04,0.0,0.000,R000,Montebello,Lombardia,Pavia,Thursday,False,False
4,2018-01-05,0.0,0.000,R000,Montebello,Lombardia,Pavia,Friday,False,False
...,...,...,...,...,...,...,...,...,...,...
8812,2022-04-26,624.0,19369.152,R002,Piacenza,Emilia Romagna,Piacenza,Tuesday,False,False
8813,2022-04-27,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Wednesday,False,False
8814,2022-04-28,723.0,24217.650,R002,Piacenza,Emilia Romagna,Piacenza,Thursday,False,False
8815,2022-04-29,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Friday,False,False
8816,2022-04-30,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Saturday,True,False

In [11]:
### Aggiungo colonna "Season" usando una convenzione in base alla data

df['date_offset'] = (df.data.dt.month*100 + df.data.dt.day - 320)%1300

df['Season'] = pd.cut(df['date_offset'], [0, 300, 602, 900, 1300], 
                      labels=['Spring', 'Summer', 'Autumn', 'Winter'])

df.drop('date_offset', axis=1, inplace=True)
df

,data,scontrini,lordototale,id_ristorante,Location,Regione,Provincia,Giorno,Weekend,Festivo,Season
0,2018-01-01,21884.0,500409.900,R000,Montebello,Lombardia,Pavia,Monday,False,True,Winter
1,2018-01-02,0.0,0.000,R000,Montebello,Lombardia,Pavia,Tuesday,False,False,Winter
2,2018-01-03,0.0,0.000,R000,Montebello,Lombardia,Pavia,Wednesday,False,False,Winter
3,2018-01-04,0.0,0.000,R000,Montebello,Lombardia,Pavia,Thursday,False,False,Winter
4,2018-01-05,0.0,0.000,R000,Montebello,Lombardia,Pavia,Friday,False,False,Winter
...,...,...,...,...,...,...,...,...,...,...,...
8812,2022-04-26,624.0,19369.152,R002,Piacenza,Emilia Romagna,Piacenza,Tuesday,False,False,Spring
8813,2022-04-27,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Wednesday,False,False,Spring
8814,2022-04-28,723.0,24217.650,R002,Piacenza,Emilia Romagna,Piacenza,Thursday,False,False,Spring
8815,2022-04-29,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Friday,False,False,Spring
8816,2022-04-30,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Saturday,True,False,Spring

In [12]:
# Per qualche motivo alle date corrispondenti al 20 marzo dei vari anni non viene correttamente fatto corrispondere il valore
# 'Spring', quindi correggo manualmente

df.loc[df['Season'].isnull(), 'Season'] = 'Spring'

# RESTRIZIONI COVID

In [13]:
restrizioni = pd.read_csv("Dati/restrizioniCOVID.csv", parse_dates=["data"])
restrizioni

            data denominazione_regione     colore
0     2020-11-06               Abruzzo     giallo
1     2020-11-07               Abruzzo     giallo
2     2020-11-08               Abruzzo     giallo
3     2020-11-09               Abruzzo     giallo
4     2020-11-10               Abruzzo  arancione
...          ...                   ...        ...
11671 2022-05-11                Veneto     bianco
11672 2022-05-12                Veneto     bianco
11673 2022-05-13                Veneto     bianco
11674 2022-05-14                Veneto     bianco
11675 2022-05-15                Veneto     bianco

[11676 rows x 3 columns]

In [14]:
### Tengo solo Lombardia ed Emilia Romagna

zone_Lomb_Emil = restrizioni[restrizioni['denominazione_regione'].isin(['Lombardia', 'Emilia-Romagna'])]
zone_Lomb_Emil

           data denominazione_regione  colore
2224 2020-11-06        Emilia-Romagna  giallo
2225 2020-11-07        Emilia-Romagna  giallo
2226 2020-11-08        Emilia-Romagna  giallo
2227 2020-11-09        Emilia-Romagna  giallo
2228 2020-11-10        Emilia-Romagna  giallo
...         ...                   ...     ...
4999 2022-05-11             Lombardia  bianco
5000 2022-05-12             Lombardia  bianco
5001 2022-05-13             Lombardia  bianco
5002 2022-05-14             Lombardia  bianco
5003 2022-05-15             Lombardia  bianco

[1112 rows x 3 columns]

In [15]:
### Filtro per date fino al 2022-30-04

zone_Lomb_Emil = zone_Lomb_Emil[zone_Lomb_Emil['data'] < '2022-05-01']
zone_Lomb_Emil

           data denominazione_regione  colore
2224 2020-11-06        Emilia-Romagna  giallo
2225 2020-11-07        Emilia-Romagna  giallo
2226 2020-11-08        Emilia-Romagna  giallo
2227 2020-11-09        Emilia-Romagna  giallo
2228 2020-11-10        Emilia-Romagna  giallo
...         ...                   ...     ...
4984 2022-04-26             Lombardia  bianco
4985 2022-04-27             Lombardia  bianco
4986 2022-04-28             Lombardia  bianco
4987 2022-04-29             Lombardia  bianco
4988 2022-04-30             Lombardia  bianco

[1082 rows x 3 columns]

In [16]:
### Converto 'Emilia-Romagna' in 'Emilia Romagna'

zone_Lomb_Emil.denominazione_regione = zone_Lomb_Emil.denominazione_regione.str.replace('-', ' ')
zone_Lomb_Emil

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

           data denominazione_regione  colore
2224 2020-11-06        Emilia Romagna  giallo
2225 2020-11-07        Emilia Romagna  giallo
2226 2020-11-08        Emilia Romagna  giallo
2227 2020-11-09        Emilia Romagna  giallo
2228 2020-11-10        Emilia Romagna  giallo
...         ...                   ...     ...
4984 2022-04-26             Lombardia  bianco
4985 2022-04-27             Lombardia  bianco
4986 2022-04-28             Lombardia  bianco
4987 2022-04-29             Lombardia  bianco
4988 2022-04-30             Lombardia  bianco

[1082 rows x 3 columns]

In [17]:
### Unione col dataset iniziale in base alla regione

df = df.merge(zone_Lomb_Emil, how='left', left_on=['data','Regione'], right_on = ['data','denominazione_regione'])
df.drop('denominazione_regione', axis = 1, inplace=True)
df

,data,scontrini,lordototale,id_ristorante,Location,Regione,Provincia,Giorno,Weekend,Festivo,Season,colore
0,2018-01-01,21884.0,500409.900,R000,Montebello,Lombardia,Pavia,Monday,False,True,Winter,NaN
1,2018-01-02,0.0,0.000,R000,Montebello,Lombardia,Pavia,Tuesday,False,False,Winter,NaN
2,2018-01-03,0.0,0.000,R000,Montebello,Lombardia,Pavia,Wednesday,False,False,Winter,NaN
3,2018-01-04,0.0,0.000,R000,Montebello,Lombardia,Pavia,Thursday,False,False,Winter,NaN
4,2018-01-05,0.0,0.000,R000,Montebello,Lombardia,Pavia,Friday,False,False,Winter,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
8812,2022-04-26,624.0,19369.152,R002,Piacenza,Emilia Romagna,Piacenza,Tuesday,False,False,Spring,bianco
8813,2022-04-27,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Wednesday,False,False,Spring,bianco
8814,2022-04-28,723.0,24217.650,R002,Piacenza,Emilia Romagna,Piacenza,Thursday,False,False,Spring,bianco
8815,2022-04-29,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Friday,False,False,Spring,bianco
8816,2022-04-30,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Saturday,True,False,Spring,bianco

# VACCINI

In [18]:
vaccini = pd.read_csv("Dati/somministrazioni-vaccini.csv", parse_dates=["data"])
vaccini

,data,forn,area,eta,m,f,d1,d2,dpi,db1,dbi,db2,N1,N2,ISTAT,reg
0,2020-12-27,Moderna,LAZ,40-49,0,1,1,0,0,0,0,0,ITI,ITI4,12,Lazio
1,2020-12-27,Moderna,SIC,90+,0,1,1,0,0,0,0,0,ITG,ITG1,19,Sicilia
2,2020-12-27,Pfizer/BioNTech,ABR,20-29,1,1,2,0,0,0,0,0,ITF,ITF1,13,Abruzzo
3,2020-12-27,Pfizer/BioNTech,ABR,30-39,1,4,5,0,0,0,0,0,ITF,ITF1,13,Abruzzo
4,2020-12-27,Pfizer/BioNTech,ABR,40-49,1,8,9,0,0,0,0,0,ITF,ITF1,13,Abruzzo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226447,2022-05-22,Pfizer/BioNTech,VEN,50-59,7,3,1,0,0,9,0,0,ITH,ITH3,5,Veneto
226448,2022-05-22,Pfizer/BioNTech,VEN,60-69,4,2,0,0,0,5,1,0,ITH,ITH3,5,Veneto
226449,2022-05-22,Pfizer/BioNTech,VEN,70-79,1,2,0,0,0,3,0,0,ITH,ITH3,5,Veneto
226450,2022-05-22,Pfizer/BioNTech,VEN,80-89,18,21,0,0,0,6,6,27,ITH,ITH3,5,Veneto
226451,2022-05-22,Pfizer/BioNTech,VEN,90+,2,10,0,0,0,0,1,11,ITH,ITH3,5,Veneto

In [19]:
### Eliminazione colonne non necessarie (elimino anche la divisione in maschi/femmine, non credo sia rilevante)

vaccini.drop(['area', 'm', 'f', 'N1', 'N2', 'ISTAT'], axis = 1, inplace=True)

In [20]:
vaccini[vaccini['reg']=='Lombardia']

,data,forn,eta,d1,d2,dpi,db1,dbi,db2,reg
52,2020-12-27,Pfizer/BioNTech,20-29,42,0,0,0,0,0,Lombardia
53,2020-12-27,Pfizer/BioNTech,30-39,64,0,0,0,0,0,Lombardia
54,2020-12-27,Pfizer/BioNTech,40-49,142,0,1,0,0,0,Lombardia
55,2020-12-27,Pfizer/BioNTech,50-59,234,0,0,0,0,0,Lombardia
56,2020-12-27,Pfizer/BioNTech,60-69,201,0,0,0,0,0,Lombardia
...,...,...,...,...,...,...,...,...,...,...
225914,2022-05-19,Pfizer/BioNTech,50-59,0,6,2,185,20,2,Lombardia
225915,2022-05-19,Pfizer/BioNTech,60-69,3,5,0,157,73,26,Lombardia
225916,2022-05-19,Pfizer/BioNTech,70-79,2,4,2,136,112,104,Lombardia
225917,2022-05-19,Pfizer/BioNTech,80-89,6,7,3,59,320,1987,Lombardia
225918,2022-05-19,Pfizer/BioNTech,90+,4,4,1,27,100,783,Lombardia

In [21]:
### Mantengo solo Lombardia ed Emilia Romagna

vaccini_Lom_Emil = vaccini[vaccini['reg'].isin(['Lombardia', 'Emilia-Romagna'])]
vaccini_Lom_Emil

,data,forn,eta,d1,d2,dpi,db1,dbi,db2,reg
25,2020-12-27,Pfizer/BioNTech,20-29,139,0,0,0,0,0,Emilia-Romagna
26,2020-12-27,Pfizer/BioNTech,30-39,141,0,0,0,0,0,Emilia-Romagna
27,2020-12-27,Pfizer/BioNTech,40-49,228,0,0,0,0,0,Emilia-Romagna
28,2020-12-27,Pfizer/BioNTech,50-59,288,0,0,0,0,0,Emilia-Romagna
29,2020-12-27,Pfizer/BioNTech,60-69,151,0,0,0,0,0,Emilia-Romagna
...,...,...,...,...,...,...,...,...,...,...
226421,2022-05-22,Pfizer/BioNTech,50-59,0,0,0,3,0,0,Emilia-Romagna
226422,2022-05-22,Pfizer/BioNTech,60-69,2,0,0,1,18,0,Emilia-Romagna
226423,2022-05-22,Pfizer/BioNTech,70-79,1,0,0,0,19,0,Emilia-Romagna
226424,2022-05-22,Pfizer/BioNTech,80-89,0,0,0,0,2,16,Emilia-Romagna
226425,2022-05-22,Pfizer/BioNTech,90+,0,0,0,1,0,4,Emilia-Romagna

In [22]:
### Sistemazione colonne

# Dose1: numero di prime dosi effettuate
# Dose2: numero di seconde dosi effettuate
# DoseUnica: numero di somministrazioni a soggetti con infezione pregressa, che completano il ciclo vaccinale con una sola dose
# Booster1: numero di somministrazioni di dose booster
# Booster3Dosi: numero di somministrazioni di dose booster a chi ha giÃ  il ciclo vaccinale primario con 3 dosi
# Booster2: numero di somministrazioni di seconda dose booster (120 giorni dopo la prima dose booster)

vaccini_Lom_Emil.columns = ['data', 'Fornitore', 'EtÃ ', 'Dose1', 'Dose2', 'DoseUnica', 'Booster1', 'Booster3Dosi', 
                            'Booster2', 'Regione']
vaccini_Lom_Emil

,data,Fornitore,EtÃ,Dose1,Dose2,DoseUnica,Booster1,Booster3Dosi,Booster2,Regione
25,2020-12-27,Pfizer/BioNTech,20-29,139,0,0,0,0,0,Emilia-Romagna
26,2020-12-27,Pfizer/BioNTech,30-39,141,0,0,0,0,0,Emilia-Romagna
27,2020-12-27,Pfizer/BioNTech,40-49,228,0,0,0,0,0,Emilia-Romagna
28,2020-12-27,Pfizer/BioNTech,50-59,288,0,0,0,0,0,Emilia-Romagna
29,2020-12-27,Pfizer/BioNTech,60-69,151,0,0,0,0,0,Emilia-Romagna
...,...,...,...,...,...,...,...,...,...,...
226421,2022-05-22,Pfizer/BioNTech,50-59,0,0,0,3,0,0,Emilia-Romagna
226422,2022-05-22,Pfizer/BioNTech,60-69,2,0,0,1,18,0,Emilia-Romagna
226423,2022-05-22,Pfizer/BioNTech,70-79,1,0,0,0,19,0,Emilia-Romagna
226424,2022-05-22,Pfizer/BioNTech,80-89,0,0,0,0,2,16,Emilia-Romagna
226425,2022-05-22,Pfizer/BioNTech,90+,0,0,0,1,0,4,Emilia-Romagna

In [23]:
### Elimino date dopo 2022-04-30

vaccini_Lom_Emil = vaccini_Lom_Emil[vaccini_Lom_Emil['data'] < '2022-05-01']
vaccini_Lom_Emil

,data,Fornitore,EtÃ,Dose1,Dose2,DoseUnica,Booster1,Booster3Dosi,Booster2,Regione
25,2020-12-27,Pfizer/BioNTech,20-29,139,0,0,0,0,0,Emilia-Romagna
26,2020-12-27,Pfizer/BioNTech,30-39,141,0,0,0,0,0,Emilia-Romagna
27,2020-12-27,Pfizer/BioNTech,40-49,228,0,0,0,0,0,Emilia-Romagna
28,2020-12-27,Pfizer/BioNTech,50-59,288,0,0,0,0,0,Emilia-Romagna
29,2020-12-27,Pfizer/BioNTech,60-69,151,0,0,0,0,0,Emilia-Romagna
...,...,...,...,...,...,...,...,...,...,...
219158,2022-04-30,Pfizer/BioNTech,50-59,6,17,2,380,24,0,Lombardia
219159,2022-04-30,Pfizer/BioNTech,60-69,9,7,0,214,110,0,Lombardia
219160,2022-04-30,Pfizer/BioNTech,70-79,2,9,0,118,170,0,Lombardia
219161,2022-04-30,Pfizer/BioNTech,80-89,3,3,1,59,575,1840,Lombardia
219162,2022-04-30,Pfizer/BioNTech,90+,0,4,0,24,122,420,Lombardia

In [24]:
### Raggruppo per data e regione (non penso che serva la divisione in fasce d'etÃ  o fornitore per la questione ristorazione)

vaccini_Lom_Emil = vaccini_Lom_Emil.groupby(['data', 'Regione'], as_index=False).sum()
vaccini_Lom_Emil

,data,Regione,Dose1,Dose2,DoseUnica,Booster1,Booster3Dosi,Booster2
0,2020-12-27,Emilia-Romagna,973,0,0,0,0,0
1,2020-12-27,Lombardia,718,0,1,0,0,0
2,2020-12-28,Emilia-Romagna,1,0,0,0,0,0
3,2020-12-28,Lombardia,108,0,0,0,0,0
4,2020-12-29,Lombardia,107,0,0,0,0,0
...,...,...,...,...,...,...,...,...
973,2022-04-28,Lombardia,103,221,35,2475,958,4111
974,2022-04-29,Emilia-Romagna,72,153,39,973,949,3794
975,2022-04-29,Lombardia,143,225,80,2708,888,4401
976,2022-04-30,Emilia-Romagna,71,170,60,1146,663,2584
977,2022-04-30,Lombardia,175,374,157,3107,1438,3233

In [25]:
### Separo Lombardia ed Emilia

vacciniLombardia = vaccini_Lom_Emil[vaccini_Lom_Emil['Regione']=='Lombardia']
vacciniEmilia = vaccini_Lom_Emil[vaccini_Lom_Emil['Regione']=='Emilia-Romagna']

In [26]:
### Creo colonne cumulate per tutte le colonne presenti, sia per Emilia Romagna che Lombardia

colonne = ['Dose1', 'Dose2', 'DoseUnica', 'Booster1', 'Booster3Dosi', 'Booster2']

for x in colonne:
    vacciniLombardia[str(x)+'Cum'] = vacciniLombardia[x].cumsum()
    vacciniEmilia[str(x)+'Cum'] = vacciniEmilia[x].cumsum()

C:\Users\cafe6\AppData\Local\Temp/ipykernel_6124/1917638903.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vacciniLombardia[str(x)+'Cum'] = vacciniLombardia[x].cumsum()
C:\Users\cafe6\AppData\Local\Temp/ipykernel_6124/1917638903.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vacciniEmilia[str(x)+'Cum'] = vacciniEmilia[x].cumsum()

In [27]:
vacciniEmilia.head()

,data,Regione,Dose1,Dose2,DoseUnica,Booster1,Booster3Dosi,Booster2,Dose1Cum,Dose2Cum,DoseUnicaCum,Booster1Cum,Booster3DosiCum,Booster2Cum
0,2020-12-27,Emilia-Romagna,973,0,0,0,0,0,973,0,0,0,0,0
2,2020-12-28,Emilia-Romagna,1,0,0,0,0,0,974,0,0,0,0,0
5,2020-12-30,Emilia-Romagna,2,0,0,0,0,0,976,0,0,0,0,0
7,2020-12-31,Emilia-Romagna,2216,0,7,0,0,0,3192,0,7,0,0,0
10,2021-01-02,Emilia-Romagna,2380,0,1,0,0,0,5572,0,8,0,0,0

In [28]:
vacciniLombardia.tail()

,data,Regione,Dose1,Dose2,DoseUnica,Booster1,Booster3Dosi,Booster2,Dose1Cum,Dose2Cum,DoseUnicaCum,Booster1Cum,Booster3DosiCum,Booster2Cum
969,2022-04-26,Lombardia,137,345,55,3006,993,3319,8419002,7956925,326142,7110219,17175,24476
971,2022-04-27,Lombardia,125,234,62,2851,1314,4047,8419127,7957159,326204,7113070,18489,28523
973,2022-04-28,Lombardia,103,221,35,2475,958,4111,8419230,7957380,326239,7115545,19447,32634
975,2022-04-29,Lombardia,143,225,80,2708,888,4401,8419373,7957605,326319,7118253,20335,37035
977,2022-04-30,Lombardia,175,374,157,3107,1438,3233,8419548,7957979,326476,7121360,21773,40268

In [29]:
### Converto 'Emilia-Romagna' in 'Emilia Romagna'

vacciniEmilia.Regione = vacciniEmilia.Regione.str.replace('-', ' ')
vacciniEmilia

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,data,Regione,Dose1,Dose2,DoseUnica,Booster1,Booster3Dosi,Booster2,Dose1Cum,Dose2Cum,DoseUnicaCum,Booster1Cum,Booster3DosiCum,Booster2Cum
0,2020-12-27,Emilia Romagna,973,0,0,0,0,0,973,0,0,0,0,0
2,2020-12-28,Emilia Romagna,1,0,0,0,0,0,974,0,0,0,0,0
5,2020-12-30,Emilia Romagna,2,0,0,0,0,0,976,0,0,0,0,0
7,2020-12-31,Emilia Romagna,2216,0,7,0,0,0,3192,0,7,0,0,0
10,2021-01-02,Emilia Romagna,2380,0,1,0,0,0,5572,0,8,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,2022-04-26,Emilia Romagna,87,260,61,1464,757,4506,3658891,3506077,168370,2990384,14054,21202
970,2022-04-27,Emilia Romagna,71,189,26,1153,1093,4413,3658962,3506266,168396,2991537,15147,25615
972,2022-04-28,Emilia Romagna,82,234,25,1524,1079,4198,3659044,3506500,168421,2993061,16226,29813
974,2022-04-29,Emilia Romagna,72,153,39,973,949,3794,3659116,3506653,168460,2994034,17175,33607
976,2022-04-30,Emilia Romagna,71,170,60,1146,663,2584,3659187,3506823,168520,2995180,17838,36191

In [30]:
vacciniLombardia.to_csv("Dati\VacciniLombardia.csv")
vacciniEmilia.to_csv("Dati\VacciniEmiliaRomagna.csv")

In [31]:
vaccini_Lom_Emil = pd.concat([vacciniEmilia, vacciniLombardia])
vaccini_Lom_Emil.sort_values('data', inplace=True)
vaccini_Lom_Emil.head(20)

,data,Regione,Dose1,Dose2,DoseUnica,Booster1,Booster3Dosi,Booster2,Dose1Cum,Dose2Cum,DoseUnicaCum,Booster1Cum,Booster3DosiCum,Booster2Cum
0,2020-12-27,Emilia Romagna,973,0,0,0,0,0,973,0,0,0,0,0
1,2020-12-27,Lombardia,718,0,1,0,0,0,718,0,1,0,0,0
3,2020-12-28,Lombardia,108,0,0,0,0,0,826,0,1,0,0,0
2,2020-12-28,Emilia Romagna,1,0,0,0,0,0,974,0,0,0,0,0
4,2020-12-29,Lombardia,107,0,0,0,0,0,933,0,1,0,0,0
6,2020-12-30,Lombardia,115,0,0,0,0,0,1048,0,1,0,0,0
5,2020-12-30,Emilia Romagna,2,0,0,0,0,0,976,0,0,0,0,0
8,2020-12-31,Lombardia,715,0,0,0,0,0,1763,0,1,0,0,0
7,2020-12-31,Emilia Romagna,2216,0,7,0,0,0,3192,0,7,0,0,0
9,2021-01-01,Lombardia,25,0,0,0,0,0,1788,0,1,0,0,0
11,2021-01-02,Lombardia,202,0,0,0,0,0,1990,0,1,0,0,0
10,2021-01-02,Emilia Romagna,2380,0,1,0,0,0,5572,0,8,0,0,0
13,2021-01-03,Lombardia,857,0,1,0,0,0,2847,0,2,0,0,0
12,2021-01-03,Emilia Romagna,2766,0,0,0,0,0,8338,0,8,0,0,0
15,2021-01-04,Lombardia,6133,0,9,0,0,0,8980,0,11,0,0,0
14,2021-01-04,Emilia Romagna,7311,0,14,0,0,0,15649,0,22,0,0,0
17,2021-01-05,Lombardia,7875,0,9,0,0,0,16855,0,20,0,0,0
16,2021-01-05,Emilia Romagna,9361,0,20,0,0,0,25010,0,42,0,0,0
18,2021-01-06,Emilia Romagna,8252,0,56,0,0,0,33262,0,98,0,0,0
19,2021-01-06,Lombardia,7166,0,7,0,0,0,24021,0,27,0,0,0

In [32]:
vaccini_Lom_Emil.to_csv("Dati\VacciniLombardia-EmiliaRomagna.csv")

In [33]:
df = pd.merge(df, vaccini_Lom_Emil,  how='left', left_on=['data','Regione'], right_on = ['data','Regione'])
df

,data,scontrini,lordototale,id_ristorante,Location,Regione,Provincia,Giorno,Weekend,Festivo,...,DoseUnica,Booster1,Booster3Dosi,Booster2,Dose1Cum,Dose2Cum,DoseUnicaCum,Booster1Cum,Booster3DosiCum,Booster2Cum
0,2018-01-01,21884.0,500409.900,R000,Montebello,Lombardia,Pavia,Monday,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-02,0.0,0.000,R000,Montebello,Lombardia,Pavia,Tuesday,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-03,0.0,0.000,R000,Montebello,Lombardia,Pavia,Wednesday,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-04,0.0,0.000,R000,Montebello,Lombardia,Pavia,Thursday,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-05,0.0,0.000,R000,Montebello,Lombardia,Pavia,Friday,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8812,2022-04-26,624.0,19369.152,R002,Piacenza,Emilia Romagna,Piacenza,Tuesday,False,False,...,61.0,1464.0,757.0,4506.0,3658891.0,3506077.0,168370.0,2990384.0,14054.0,21202.0
8813,2022-04-27,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Wednesday,False,False,...,26.0,1153.0,1093.0,4413.0,3658962.0,3506266.0,168396.0,2991537.0,15147.0,25615.0
8814,2022-04-28,723.0,24217.650,R002,Piacenza,Emilia Romagna,Piacenza,Thursday,False,False,...,25.0,1524.0,1079.0,4198.0,3659044.0,3506500.0,168421.0,2993061.0,16226.0,29813.0
8815,2022-04-29,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Friday,False,False,...,39.0,973.0,949.0,3794.0,3659116.0,3506653.0,168460.0,2994034.0,17175.0,33607.0
8816,2022-04-30,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Saturday,True,False,...,60.0,1146.0,663.0,2584.0,3659187.0,3506823.0,168520.0,2995180.0,17838.0,36191.0

# CARBURANTI

In [34]:
### Le colonne sono il prezzo per 1000 litri

carburanti = pd.read_csv("Dati/prezzi_carburanti_settimanali_dal_2005_a_20220525.csv", parse_dates=["DATA_RILEVAZIONE"])
carburanti

,DATA_RILEVAZIONE,BENZINA,GASOLIO_AUTO,GPL,GASOLIO_RISCALDAMENTO,O.C._FLUIDO_BTZ,O.C._DENSO_BTZ
0,2005-01-03,1115.75,1018.28,552.50,948.50,553.25,229.52
1,2005-01-10,1088.00,1004.39,552.57,947.94,554.22,238.37
2,2005-01-17,1088.14,1004.31,551.88,952.42,562.78,245.89
3,2005-01-24,1090.01,1004.31,551.88,963.98,573.42,243.84
4,2005-01-31,1132.11,1022.60,551.88,972.95,579.23,242.53
...,...,...,...,...,...,...,...
865,2022-04-25,1766.28,1767.42,840.48,1792.83,1160.27,790.00
866,2022-05-02,1778.28,1791.12,844.79,1839.33,1179.45,804.78
867,2022-05-09,1808.27,1830.60,837.75,1827.79,1169.09,801.11
868,2022-05-16,1823.14,1827.96,834.31,1808.92,1168.18,795.89
869,2022-05-23,1873.11,1819.95,832.08,1785.74,1190.00,801.89

In [35]:
### Elimino date precedenti al 2018-01-01 e successive al 2022-04-30

carburanti = carburanti[(carburanti['DATA_RILEVAZIONE'] > '2017-12-25') & (carburanti['DATA_RILEVAZIONE'] < '2022-05-03')]
carburanti

,DATA_RILEVAZIONE,BENZINA,GASOLIO_AUTO,GPL,GASOLIO_RISCALDAMENTO,O.C._FLUIDO_BTZ,O.C._DENSO_BTZ
645,2018-01-01,1554.54,1426.58,677.99,1219.91,815.81,407.41
646,2018-01-08,1561.51,1435.68,677.60,1230.87,821.34,421.30
647,2018-01-15,1566.62,1441.24,677.56,1242.54,832.90,421.10
648,2018-01-22,1571.37,1446.52,677.48,1235.87,826.01,413.74
649,2018-01-29,1572.83,1447.78,677.71,1239.60,824.93,412.07
...,...,...,...,...,...,...,...
862,2022-04-04,1792.72,1788.17,829.69,1758.71,1156.91,798.44
863,2022-04-11,1765.36,1760.56,837.28,1737.44,1135.27,765.89
864,2022-04-18,1757.24,1750.73,838.93,1785.76,1155.91,787.33
865,2022-04-25,1766.28,1767.42,840.48,1792.83,1160.27,790.00
866,2022-05-02,1778.28,1791.12,844.79,1839.33,1179.45,804.78

In [36]:
### Creo colonne prezzo/litro

carburanti['BENZINA/LITRO'] = carburanti['BENZINA']/1000
carburanti['GASOLIO_AUTO/LITRO'] = carburanti['GASOLIO_AUTO']/1000
carburanti['GPL/LITRO'] = carburanti['GPL']/1000
carburanti['GASOLIO_RISCALDAMENTO/LITRO'] = carburanti['GASOLIO_RISCALDAMENTO']/1000
carburanti['O.C._FLUIDO_BTZ/LITRO'] = carburanti['O.C._FLUIDO_BTZ']/1000
carburanti['O.C._DENSO_BTZ/LITRO'] = carburanti['O.C._DENSO_BTZ']/1000

C:\Users\cafe6\AppData\Local\Temp/ipykernel_6124/2348445341.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  carburanti['BENZINA/LITRO'] = carburanti['BENZINA']/1000
C:\Users\cafe6\AppData\Local\Temp/ipykernel_6124/2348445341.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  carburanti['GASOLIO_AUTO/LITRO'] = carburanti['GASOLIO_AUTO']/1000
C:\Users\cafe6\AppData\Local\Temp/ipykernel_6124/2348445341.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  carburanti['GPL/LITRO'] = carburanti['GPL']/1000
C:\Users\cafe6\AppData\Local\Temp/ipykernel_6124/2348445341.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  carburanti['GASOLIO_RISCALDAMENTO/LITRO'] = carburanti['GASOLIO_RISCALDAMENTO']/1000
C:\Users\cafe6\AppData\Local\Temp/ipykernel_6124/2348445341.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  carburanti['O.C._FLUIDO_BTZ/LITRO'] = carburanti['O.C._FLUIDO_BTZ']/1000
C:\Users\cafe6\AppData\Local\Temp/ipykernel_6124/2348445341.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  carburanti['O.C._DENSO_BTZ/LITRO'] = carburanti['O.C._DENSO_BTZ']/1000

In [37]:
carburanti.head()

,DATA_RILEVAZIONE,BENZINA,GASOLIO_AUTO,GPL,GASOLIO_RISCALDAMENTO,O.C._FLUIDO_BTZ,O.C._DENSO_BTZ,BENZINA/LITRO,GASOLIO_AUTO/LITRO,GPL/LITRO,GASOLIO_RISCALDAMENTO/LITRO,O.C._FLUIDO_BTZ/LITRO,O.C._DENSO_BTZ/LITRO
645,2018-01-01,1554.54,1426.58,677.99,1219.91,815.81,407.41,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741
646,2018-01-08,1561.51,1435.68,677.60,1230.87,821.34,421.30,1.56151,1.43568,0.67760,1.23087,0.82134,0.42130
647,2018-01-15,1566.62,1441.24,677.56,1242.54,832.90,421.10,1.56662,1.44124,0.67756,1.24254,0.83290,0.42110
648,2018-01-22,1571.37,1446.52,677.48,1235.87,826.01,413.74,1.57137,1.44652,0.67748,1.23587,0.82601,0.41374
649,2018-01-29,1572.83,1447.78,677.71,1239.60,824.93,412.07,1.57283,1.44778,0.67771,1.23960,0.82493,0.41207

In [38]:
carburanti = carburanti.set_index('DATA_RILEVAZIONE').resample('D').ffill().reset_index()
carburanti.tail(10)

,DATA_RILEVAZIONE,BENZINA,GASOLIO_AUTO,GPL,GASOLIO_RISCALDAMENTO,O.C._FLUIDO_BTZ,O.C._DENSO_BTZ,BENZINA/LITRO,GASOLIO_AUTO/LITRO,GPL/LITRO,GASOLIO_RISCALDAMENTO/LITRO,O.C._FLUIDO_BTZ/LITRO,O.C._DENSO_BTZ/LITRO
1573,2022-04-23,1757.24,1750.73,838.93,1785.76,1155.91,787.33,1.75724,1.75073,0.83893,1.78576,1.15591,0.78733
1574,2022-04-24,1757.24,1750.73,838.93,1785.76,1155.91,787.33,1.75724,1.75073,0.83893,1.78576,1.15591,0.78733
1575,2022-04-25,1766.28,1767.42,840.48,1792.83,1160.27,790.00,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000
1576,2022-04-26,1766.28,1767.42,840.48,1792.83,1160.27,790.00,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000
1577,2022-04-27,1766.28,1767.42,840.48,1792.83,1160.27,790.00,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000
1578,2022-04-28,1766.28,1767.42,840.48,1792.83,1160.27,790.00,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000
1579,2022-04-29,1766.28,1767.42,840.48,1792.83,1160.27,790.00,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000
1580,2022-04-30,1766.28,1767.42,840.48,1792.83,1160.27,790.00,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000
1581,2022-05-01,1766.28,1767.42,840.48,1792.83,1160.27,790.00,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000
1582,2022-05-02,1778.28,1791.12,844.79,1839.33,1179.45,804.78,1.77828,1.79112,0.84479,1.83933,1.17945,0.80478

In [39]:
carburanti.to_csv("Dati\datasetCarburanti.csv")

In [40]:
df = pd.merge(df, carburanti,  how='left', left_on=['data'], right_on = ['DATA_RILEVAZIONE'])
df.head(10)

,data,scontrini,lordototale,id_ristorante,Location,Regione,Provincia,Giorno,Weekend,Festivo,...,GPL,GASOLIO_RISCALDAMENTO,O.C._FLUIDO_BTZ,O.C._DENSO_BTZ,BENZINA/LITRO,GASOLIO_AUTO/LITRO,GPL/LITRO,GASOLIO_RISCALDAMENTO/LITRO,O.C._FLUIDO_BTZ/LITRO,O.C._DENSO_BTZ/LITRO
0,2018-01-01,21884.0,500409.9,R000,Montebello,Lombardia,Pavia,Monday,False,True,...,677.99,1219.91,815.81,407.41,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741
1,2018-01-02,0.0,0.0,R000,Montebello,Lombardia,Pavia,Tuesday,False,False,...,677.99,1219.91,815.81,407.41,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741
2,2018-01-03,0.0,0.0,R000,Montebello,Lombardia,Pavia,Wednesday,False,False,...,677.99,1219.91,815.81,407.41,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741
3,2018-01-04,0.0,0.0,R000,Montebello,Lombardia,Pavia,Thursday,False,False,...,677.99,1219.91,815.81,407.41,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741
4,2018-01-05,0.0,0.0,R000,Montebello,Lombardia,Pavia,Friday,False,False,...,677.99,1219.91,815.81,407.41,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741
5,2018-01-06,0.0,0.0,R000,Montebello,Lombardia,Pavia,Saturday,True,True,...,677.99,1219.91,815.81,407.41,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741
6,2018-01-07,0.0,0.0,R000,Montebello,Lombardia,Pavia,Sunday,True,True,...,677.99,1219.91,815.81,407.41,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741
7,2018-01-08,0.0,0.0,R000,Montebello,Lombardia,Pavia,Monday,False,False,...,677.60,1230.87,821.34,421.30,1.56151,1.43568,0.67760,1.23087,0.82134,0.42130
8,2018-01-09,0.0,0.0,R000,Montebello,Lombardia,Pavia,Tuesday,False,False,...,677.60,1230.87,821.34,421.30,1.56151,1.43568,0.67760,1.23087,0.82134,0.42130
9,2018-01-10,0.0,0.0,R000,Montebello,Lombardia,Pavia,Wednesday,False,False,...,677.60,1230.87,821.34,421.30,1.56151,1.43568,0.67760,1.23087,0.82134,0.42130

# POPOLAZIONE

In [41]:
popolazione = pd.read_csv('Dati/popolazione19-22.csv')
popolazione = popolazione[['Territorio', 'Value', 'TIME']]

In [42]:
### Aggiungo manualmente i dati del 2018

popolazione.loc[len(popolazione)] = ['Montebello della Battaglia', 1596, 2018]
popolazione.loc[len(popolazione)] = ['Pavia', 72773, 2018]
popolazione.loc[len(popolazione)] = ['Piacenza', 103082, 2018]
popolazione.loc[len(popolazione)] = ['Stradella', 11637, 2018]
popolazione.loc[len(popolazione)] = ['Voghera', 39354, 2018]

In [43]:
popolazione.sort_values(['Territorio', 'TIME'], inplace=True)
popolazione.reset_index(inplace=True)

In [44]:
popolazione.drop('index', inplace=True, axis=1)

In [45]:
popolazione.loc[popolazione.Territorio=="Montebello della Battaglia", 'Territorio'] = "Montebello"

In [46]:
popolazione = popolazione.astype({"Territorio": str, "Value": int, "TIME": int})
popolazione

    Territorio   Value  TIME
0   Montebello    1596  2018
1   Montebello    1546  2019
2   Montebello    1525  2020
3   Montebello    1512  2021
4   Montebello    1476  2022
5        Pavia   72773  2018
6        Pavia   71943  2019
7        Pavia   71882  2020
8        Pavia   71122  2021
9        Pavia   71159  2022
10    Piacenza  103082  2018
11    Piacenza  103904  2019
12    Piacenza  104260  2020
13    Piacenza  102731  2021
14    Piacenza  102902  2022
15   Stradella   11637  2018
16   Stradella   11699  2019
17   Stradella   11689  2020
18   Stradella   11448  2021
19   Stradella   11430  2022
20     Voghera   39354  2018
21     Voghera   39051  2019
22     Voghera   39006  2020
23     Voghera   38435  2021
24     Voghera   38455  2022

In [47]:
popolazione.to_csv('Dati/popolazionecompleto.csv')

In [48]:
### Estraggo la colonna 'Year' per il merge

df['Year'] = df['data'].dt.year

In [49]:
df

,data,scontrini,lordototale,id_ristorante,Location,Regione,Provincia,Giorno,Weekend,Festivo,...,GASOLIO_RISCALDAMENTO,O.C._FLUIDO_BTZ,O.C._DENSO_BTZ,BENZINA/LITRO,GASOLIO_AUTO/LITRO,GPL/LITRO,GASOLIO_RISCALDAMENTO/LITRO,O.C._FLUIDO_BTZ/LITRO,O.C._DENSO_BTZ/LITRO,Year
0,2018-01-01,21884.0,500409.900,R000,Montebello,Lombardia,Pavia,Monday,False,True,...,1219.91,815.81,407.41,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,2018
1,2018-01-02,0.0,0.000,R000,Montebello,Lombardia,Pavia,Tuesday,False,False,...,1219.91,815.81,407.41,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,2018
2,2018-01-03,0.0,0.000,R000,Montebello,Lombardia,Pavia,Wednesday,False,False,...,1219.91,815.81,407.41,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,2018
3,2018-01-04,0.0,0.000,R000,Montebello,Lombardia,Pavia,Thursday,False,False,...,1219.91,815.81,407.41,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,2018
4,2018-01-05,0.0,0.000,R000,Montebello,Lombardia,Pavia,Friday,False,False,...,1219.91,815.81,407.41,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8812,2022-04-26,624.0,19369.152,R002,Piacenza,Emilia Romagna,Piacenza,Tuesday,False,False,...,1792.83,1160.27,790.00,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000,2022
8813,2022-04-27,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Wednesday,False,False,...,1792.83,1160.27,790.00,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000,2022
8814,2022-04-28,723.0,24217.650,R002,Piacenza,Emilia Romagna,Piacenza,Thursday,False,False,...,1792.83,1160.27,790.00,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000,2022
8815,2022-04-29,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Friday,False,False,...,1792.83,1160.27,790.00,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000,2022
8816,2022-04-30,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Saturday,True,False,...,1792.83,1160.27,790.00,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000,2022

In [50]:
df = pd.merge(df, popolazione,  how='left', left_on=['Year', 'Location'], right_on = ['TIME', 'Territorio'])

In [51]:
df.head(10)

,data,scontrini,lordototale,id_ristorante,Location,Regione,Provincia,Giorno,Weekend,Festivo,...,BENZINA/LITRO,GASOLIO_AUTO/LITRO,GPL/LITRO,GASOLIO_RISCALDAMENTO/LITRO,O.C._FLUIDO_BTZ/LITRO,O.C._DENSO_BTZ/LITRO,Year,Territorio,Value,TIME
0,2018-01-01,21884.0,500409.9,R000,Montebello,Lombardia,Pavia,Monday,False,True,...,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,2018,Montebello,1596,2018
1,2018-01-02,0.0,0.0,R000,Montebello,Lombardia,Pavia,Tuesday,False,False,...,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,2018,Montebello,1596,2018
2,2018-01-03,0.0,0.0,R000,Montebello,Lombardia,Pavia,Wednesday,False,False,...,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,2018,Montebello,1596,2018
3,2018-01-04,0.0,0.0,R000,Montebello,Lombardia,Pavia,Thursday,False,False,...,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,2018,Montebello,1596,2018
4,2018-01-05,0.0,0.0,R000,Montebello,Lombardia,Pavia,Friday,False,False,...,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,2018,Montebello,1596,2018
5,2018-01-06,0.0,0.0,R000,Montebello,Lombardia,Pavia,Saturday,True,True,...,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,2018,Montebello,1596,2018
6,2018-01-07,0.0,0.0,R000,Montebello,Lombardia,Pavia,Sunday,True,True,...,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,2018,Montebello,1596,2018
7,2018-01-08,0.0,0.0,R000,Montebello,Lombardia,Pavia,Monday,False,False,...,1.56151,1.43568,0.67760,1.23087,0.82134,0.42130,2018,Montebello,1596,2018
8,2018-01-09,0.0,0.0,R000,Montebello,Lombardia,Pavia,Tuesday,False,False,...,1.56151,1.43568,0.67760,1.23087,0.82134,0.42130,2018,Montebello,1596,2018
9,2018-01-10,0.0,0.0,R000,Montebello,Lombardia,Pavia,Wednesday,False,False,...,1.56151,1.43568,0.67760,1.23087,0.82134,0.42130,2018,Montebello,1596,2018

# DATI METEO

In [52]:
meteo_broni = pd.read_csv("Dati/Precipitazioni/BRONI_RW_20220705143804_500040/RW_20220705143805_500040_17437_4.csv", 
                          parse_dates=['Data-Ora'])
meteo_broni.tail()

,Id Sensore,Data-Ora,Valore Cumulata Giornaliero,Minimo Valore Cumulata Orario,Massimo Valore Cumulata Orario
1495,17437,2022-04-26,0.0,0.0,0.0
1496,17437,2022-04-27,0.0,0.0,0.0
1497,17437,2022-04-28,0.0,0.0,0.0
1498,17437,2022-04-29,0.0,0.0,0.0
1499,17437,2022-04-30,0.0,0.0,0.0

In [53]:
# Creo colonna "Location Ristorante" per il merging. Il sensore di Broni Ã¨ usato per il ristorante di Stradella
meteo_broni['Location Ristorante'] = 'Stradella'

# Creo colonna "Pioggia", booleano che puÃ² essere utile per i modelli sulla serie storica
meteo_broni['Pioggia'] = meteo_broni['Valore Cumulata Giornaliero'] > 0

# Droppo colonna "Id Sensore", che non ci serve, e anche "Minimo Valore Cumulata Orario" e "Massimo Valore Cumulata Orario"
meteo_broni.drop(['Id Sensore', ' Minimo Valore Cumulata Orario', ' Massimo Valore Cumulata Orario'], axis=1, inplace=True)

# Sistemo la colonna Data-Ora
meteo_broni['Data-Ora'] = meteo_broni['Data-Ora'].dt.date
meteo_broni

        Data-Ora  Valore Cumulata Giornaliero Location Ristorante  Pioggia
0     2018-03-23                          0.0           Stradella    False
1     2018-03-24                          0.0           Stradella    False
2     2018-03-25                          0.0           Stradella    False
3     2018-03-26                          0.0           Stradella    False
4     2018-03-27                          0.0           Stradella    False
...          ...                          ...                 ...      ...
1495  2022-04-26                          0.0           Stradella    False
1496  2022-04-27                          0.0           Stradella    False
1497  2022-04-28                          0.0           Stradella    False
1498  2022-04-29                          0.0           Stradella    False
1499  2022-04-30                          0.0           Stradella    False

[1500 rows x 4 columns]

In [54]:
# Eseguo le stesse operazioni per gli altri dataset del meteo
meteo_voghera = pd.read_csv("Dati/Precipitazioni/VOGHERA_RW_20220705143303_500039/RW_20220705143305_500039_8190_4.csv",
                           parse_dates=['Data-Ora'])

# Usiamo gli stessi dati di Voghera anche per Montebello, essendo questo il sensore piÃ¹ vicino
meteo_montebello = pd.read_csv("Dati/Precipitazioni/VOGHERA_RW_20220705143303_500039/RW_20220705143305_500039_8190_4.csv",
                              parse_dates=['Data-Ora'])

In [55]:
meteo_voghera['Location Ristorante'] = 'Voghera'
meteo_voghera['Pioggia'] = meteo_voghera['Valore Cumulata Giornaliero'] > 0
meteo_voghera.drop(['Id Sensore', ' Minimo Valore Cumulata Orario', ' Massimo Valore Cumulata Orario'], axis=1, inplace=True)
meteo_voghera['Data-Ora'] = meteo_voghera['Data-Ora'].dt.date

meteo_montebello['Location Ristorante'] = 'Montebello'
meteo_montebello['Pioggia'] = meteo_montebello['Valore Cumulata Giornaliero'] > 0
meteo_montebello.drop(['Id Sensore', ' Minimo Valore Cumulata Orario', ' Massimo Valore Cumulata Orario'], axis=1, inplace=True)
meteo_montebello['Data-Ora'] = meteo_montebello['Data-Ora'].dt.date

In [56]:
meteo_voghera

        Data-Ora  Valore Cumulata Giornaliero Location Ristorante  Pioggia
0     2018-01-01                          8.6             Voghera     True
1     2018-01-02                          0.0             Voghera    False
2     2018-01-03                          0.0             Voghera    False
3     2018-01-04                          0.0             Voghera    False
4     2018-01-05                          1.0             Voghera     True
...          ...                          ...                 ...      ...
1576  2022-04-26                          0.0             Voghera    False
1577  2022-04-27                          0.0             Voghera    False
1578  2022-04-28                          0.0             Voghera    False
1579  2022-04-29                          0.0             Voghera    False
1580  2022-04-30                          0.0             Voghera    False

[1581 rows x 4 columns]

In [57]:
meteo_montebello

        Data-Ora  Valore Cumulata Giornaliero Location Ristorante  Pioggia
0     2018-01-01                          8.6          Montebello     True
1     2018-01-02                          0.0          Montebello    False
2     2018-01-03                          0.0          Montebello    False
3     2018-01-04                          0.0          Montebello    False
4     2018-01-05                          1.0          Montebello     True
...          ...                          ...                 ...      ...
1576  2022-04-26                          0.0          Montebello    False
1577  2022-04-27                          0.0          Montebello    False
1578  2022-04-28                          0.0          Montebello    False
1579  2022-04-29                          0.0          Montebello    False
1580  2022-04-30                          0.0          Montebello    False

[1581 rows x 4 columns]

In [58]:
meteo_piacenza = pd.read_csv("Dati/Precipitazioni/PIACENZA_dexter-9a8fd135-2066-4bc6-88c9-bacb1e389572/dexter-9a8fd135-2066-4bc6-88c9-bacb1e389572.csv",
                            parse_dates=['Inizio validitÃ  (UTC)', 'Fine validitÃ  (UTC)'])
meteo_piacenza

,Inizio validitÃ (UTC),Fine validitÃ (UTC),Precipitazione cumulata giornaliera (KG/M**2)
0,2017-12-31 00:00:00+00:00,2018-01-01 00:00:00+00:00,0.0
1,2018-01-01 00:00:00+00:00,2018-01-02 00:00:00+00:00,10.0
2,2018-01-02 00:00:00+00:00,2018-01-03 00:00:00+00:00,0.0
3,2018-01-03 00:00:00+00:00,2018-01-04 00:00:00+00:00,0.0
4,2018-01-04 00:00:00+00:00,2018-01-05 00:00:00+00:00,0.0
...,...,...,...
1578,2022-04-27 00:00:00+00:00,2022-04-28 00:00:00+00:00,0.0
1579,2022-04-28 00:00:00+00:00,2022-04-29 00:00:00+00:00,0.0
1580,2022-04-29 00:00:00+00:00,2022-04-30 00:00:00+00:00,0.0
1581,2022-04-30 00:00:00+00:00,2022-05-01 00:00:00+00:00,0.0
1582,2022-05-01 00:00:00+00:00,2022-05-02 00:00:00+00:00,1.4

In [59]:
# 1 Kg/m^2 equivale a 1 mm, quindi rinomino la colonna per ricondurla a quelle dei dataset precedenti. Correggo anche il nome
# delle altre colonne (la colonna fine validitÃ  non mi interessa)
meteo_piacenza.drop('Fine validitÃ  (UTC)', axis=1, inplace=True)
meteo_piacenza.rename(columns={"Inizio validitÃ  (UTC)": "Data-Ora", "Precipitazione cumulata giornaliera (KG/M**2)": "Valore Cumulata Giornaliero"},
                      inplace=True)

# Aggiungo colonne "Location Ristorante" e la booleana "Pioggia"
meteo_piacenza['Location Ristorante'] = 'Piacenza'
meteo_piacenza['Pioggia'] = meteo_piacenza['Valore Cumulata Giornaliero'] > 0

# Rimuovo prima e ultima riga, sono giorni che non abbiamo fra i dati dei ristoranti
meteo_piacenza.drop(meteo_piacenza.index[0], axis=0, inplace=True)
meteo_piacenza.drop(meteo_piacenza.index[-1], axis=0, inplace=True)
meteo_piacenza.reset_index(inplace=True, drop=True)

# Sistemo la data, eliminando l'ora
meteo_piacenza['Data-Ora'] = meteo_piacenza['Data-Ora'].dt.date

meteo_piacenza

        Data-Ora  Valore Cumulata Giornaliero Location Ristorante  Pioggia
0     2018-01-01                         10.0            Piacenza     True
1     2018-01-02                          0.0            Piacenza    False
2     2018-01-03                          0.0            Piacenza    False
3     2018-01-04                          0.0            Piacenza    False
4     2018-01-05                          0.0            Piacenza    False
...          ...                          ...                 ...      ...
1576  2022-04-26                          0.0            Piacenza    False
1577  2022-04-27                          0.0            Piacenza    False
1578  2022-04-28                          0.0            Piacenza    False
1579  2022-04-29                          0.0            Piacenza    False
1580  2022-04-30                          0.0            Piacenza    False

[1581 rows x 4 columns]

In [60]:
# Concateno tutti i dati meteo

meteo_list = [meteo_broni, meteo_montebello, meteo_voghera, meteo_piacenza]
df_meteo_completo = pd.concat(meteo_list)

#Definisco il formato della colonna 'Data-Ora'
df_meteo_completo['Data-Ora'] =  pd.to_datetime(df_meteo_completo['Data-Ora'], format='%Y-%m-%d')
df_meteo_completo

       Data-Ora  Valore Cumulata Giornaliero Location Ristorante  Pioggia
0    2018-03-23                          0.0           Stradella    False
1    2018-03-24                          0.0           Stradella    False
2    2018-03-25                          0.0           Stradella    False
3    2018-03-26                          0.0           Stradella    False
4    2018-03-27                          0.0           Stradella    False
...         ...                          ...                 ...      ...
1576 2022-04-26                          0.0            Piacenza    False
1577 2022-04-27                          0.0            Piacenza    False
1578 2022-04-28                          0.0            Piacenza    False
1579 2022-04-29                          0.0            Piacenza    False
1580 2022-04-30                          0.0            Piacenza    False

[6243 rows x 4 columns]

In [61]:
# Salvataggio dati meteo completo
df_meteo_completo.to_csv('Dati/meteo_completo.csv')

In [62]:
# Integrazione al dataset principale

df = pd.merge(df, df_meteo_completo,  how='left', left_on=['data','Location'], right_on = ['Data-Ora','Location Ristorante'])
df

,data,scontrini,lordototale,id_ristorante,Location,Regione,Provincia,Giorno,Weekend,Festivo,...,O.C._FLUIDO_BTZ/LITRO,O.C._DENSO_BTZ/LITRO,Year,Territorio,Value,TIME,Data-Ora,Valore Cumulata Giornaliero,Location Ristorante,Pioggia
0,2018-01-01,21884.0,500409.900,R000,Montebello,Lombardia,Pavia,Monday,False,True,...,0.81581,0.40741,2018,Montebello,1596,2018,2018-01-01,8.6,Montebello,True
1,2018-01-02,0.0,0.000,R000,Montebello,Lombardia,Pavia,Tuesday,False,False,...,0.81581,0.40741,2018,Montebello,1596,2018,2018-01-02,0.0,Montebello,False
2,2018-01-03,0.0,0.000,R000,Montebello,Lombardia,Pavia,Wednesday,False,False,...,0.81581,0.40741,2018,Montebello,1596,2018,2018-01-03,0.0,Montebello,False
3,2018-01-04,0.0,0.000,R000,Montebello,Lombardia,Pavia,Thursday,False,False,...,0.81581,0.40741,2018,Montebello,1596,2018,2018-01-04,0.0,Montebello,False
4,2018-01-05,0.0,0.000,R000,Montebello,Lombardia,Pavia,Friday,False,False,...,0.81581,0.40741,2018,Montebello,1596,2018,2018-01-05,1.0,Montebello,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8812,2022-04-26,624.0,19369.152,R002,Piacenza,Emilia Romagna,Piacenza,Tuesday,False,False,...,1.16027,0.79000,2022,Piacenza,102902,2022,2022-04-26,0.0,Piacenza,False
8813,2022-04-27,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Wednesday,False,False,...,1.16027,0.79000,2022,Piacenza,102902,2022,2022-04-27,0.0,Piacenza,False
8814,2022-04-28,723.0,24217.650,R002,Piacenza,Emilia Romagna,Piacenza,Thursday,False,False,...,1.16027,0.79000,2022,Piacenza,102902,2022,2022-04-28,0.0,Piacenza,False
8815,2022-04-29,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Friday,False,False,...,1.16027,0.79000,2022,Piacenza,102902,2022,2022-04-29,0.0,Piacenza,False
8816,2022-04-30,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Saturday,True,False,...,1.16027,0.79000,2022,Piacenza,102902,2022,2022-04-30,0.0,Piacenza,False

# CEREALI

Tra tutti i prodotti agroalimentari essenziali per il nostro paese, il grano, e i cereali in generale, occupano un posto di grande rilievo. Buona parte della dieta italiana (e mondiale) Ã¨ composta da alimenti a base di cereali quali grano, mais, olio e quant'altro. Tali prodotti sono anche estremamente importanti per la produzione di altri prodotti, basti pensare all'allevamento dove sono fondamentali come alimenti per il bestiame. L'Italia Ã¨ un paese che fa grande affidamento sull'importazione di cereali dall'estero (circa il 63% del fabbisogno di grano viene importato, circa il 56% per il mais): per questo motivo risentiamo in maniera particolare delle conseguenze della guerra fra Ucraina e Russia, due dei maggiori produttori di grano a livello mondiale. Per questo motivo particolare, decidiamo di prendere in considerazione solamente i dati relativi ai prezzi dei cereali. Inoltre, pur non essendo a conoscenza della tipologia di ristoranti in questione, i cereali e i prodotti da essi derivanti sono sicuramente una parte importante del loro menÃ¹ (pane, pasta, pizza, ...) mentre lo stesso non puÃ² essere affermato con altrettanta sicurezza per altri prodotti. Risultano, sul piano geopolitico, sicuramente piÃ¹ rilevanti i discorsi sui trasporti di tali prodotti, giÃ  toccati considerando i dati sui carburanti e sulla situazione del COVID.

In [63]:
cereals = pd.read_excel("Dati/cereal_prices.xlsx")
cereals

,Marketing Year,Reference period,Member State,Product Name,Market Name,Stage Name,Price (â‚¬/Tonne)
0,2017/2018,2017-07-13,Italy,Durum wheat,Bologna,Deliver to first customer - silo or processing...,232.5
1,2017/2018,2017-07-13,Italy,Feed barley,Bologna,Deliver to first customer - silo or processing...,159.0
2,2017/2018,2017-07-13,Italy,Maize,Bologna,Deliver to first customer - silo or processing...,187.0
3,2017/2018,2017-07-13,Italy,Milling wheat,Bologna,Deliver to first customer - silo or processing...,183.0
4,2017/2018,2017-07-20,Italy,Durum wheat,Bologna,Deliver to first customer - silo or processing...,232.5
...,...,...,...,...,...,...,...
869,2021/2022,2022-06-30,Italy,Maize,Bologna,Deliver to first customer - silo or processing...,356.0
870,2021/2022,2022-07-07,Italy,Durum wheat,Bologna,Deliver to first customer - silo or processing...,544.5
871,2021/2022,2022-07-07,Italy,Feed barley,Bologna,Deliver to first customer - silo or processing...,325.5
872,2021/2022,2022-07-07,Italy,Maize,Bologna,Deliver to first customer - silo or processing...,354.0
873,2021/2022,2022-07-07,Italy,Milling wheat,Bologna,Deliver to first customer - silo or processing...,362.5

In [64]:
# Droppo colonne non utili
cereals.drop(['Marketing Year', 'Member State', 'Market Name', 'Stage Name'], axis=1, inplace=True)

In [65]:
# Pivot (attorno a 'Product Name') e sistemazione tabella (indici e colonne)
cereals = cereals.pivot(index='Reference period', columns='Product Name', values=['Price (â‚¬/Tonne)'])
cereals.columns = cereals.columns.droplevel(0)
cereals = cereals.rename_axis(None, axis=1)
cereals.reset_index(inplace=True)

In [66]:
# Aggiungo l'unitÃ  di misura al nome delle colonne
cereals.rename(columns={'Durum wheat':'Durum wheat (â‚¬/Tonne)', 'Feed barley':'Feed barley (â‚¬/Tonne)', 'Maize':'Maize (â‚¬/Tonne)',
                        'Milling wheat':'Milling wheat (â‚¬/Tonne)'}, inplace=True)

In [67]:
# Converto la colonna 'Reference period' in data e tengo solamente i dati dei periodi a noi utili (21/12/2017 -> 05/05/2022, 
# piÃ¹ comodo per replicare le righe)
cereals['Reference period'] =  pd.to_datetime(cereals['Reference period'], format='%Y-%m-%d')
cereals = cereals[(cereals['Reference period'] > '2017-12-20') & (cereals['Reference period'] < '2022-05-10')]

In [68]:
cereals = cereals.set_index('Reference period').resample('D').ffill().reset_index()
# Tengo solo le date che ci interessano
cereals = cereals[(cereals['Reference period'] > '2017-12-31') & (cereals['Reference period'] < '2022-05-01')]

In [69]:
cereals.head(20)

,Reference period,Durum wheat (â‚¬/Tonne),Feed barley (â‚¬/Tonne),Maize (â‚¬/Tonne),Milling wheat (â‚¬/Tonne)
11,2018-01-01,223.5,179.0,176.0,192.0
12,2018-01-02,223.5,179.0,176.0,192.0
13,2018-01-03,223.5,179.0,176.0,192.0
14,2018-01-04,223.5,179.0,176.0,192.0
15,2018-01-05,223.5,179.0,176.0,192.0
16,2018-01-06,223.5,179.0,176.0,192.0
17,2018-01-07,223.5,179.0,176.0,192.0
18,2018-01-08,223.5,179.0,176.0,192.0
19,2018-01-09,223.5,179.0,176.0,192.0
20,2018-01-10,223.5,179.0,176.0,192.0
21,2018-01-11,224.5,182.0,176.0,192.0
22,2018-01-12,224.5,182.0,176.0,192.0
23,2018-01-13,224.5,182.0,176.0,192.0
24,2018-01-14,224.5,182.0,176.0,192.0
25,2018-01-15,224.5,182.0,176.0,192.0
26,2018-01-16,224.5,182.0,176.0,192.0
27,2018-01-17,224.5,182.0,176.0,192.0
28,2018-01-18,226.5,182.0,175.0,192.0
29,2018-01-19,226.5,182.0,175.0,192.0
30,2018-01-20,226.5,182.0,175.0,192.0

In [70]:
# Merge con df complessivo
df = pd.merge(df, cereals,  how='left', left_on=['data'], right_on = ['Reference period'])
df

,data,scontrini,lordototale,id_ristorante,Location,Regione,Provincia,Giorno,Weekend,Festivo,...,TIME,Data-Ora,Valore Cumulata Giornaliero,Location Ristorante,Pioggia,Reference period,Durum wheat (â‚¬/Tonne),Feed barley (â‚¬/Tonne),Maize (â‚¬/Tonne),Milling wheat (â‚¬/Tonne)
0,2018-01-01,21884.0,500409.900,R000,Montebello,Lombardia,Pavia,Monday,False,True,...,2018,2018-01-01,8.6,Montebello,True,2018-01-01,223.5,179.0,176.0,192.0
1,2018-01-02,0.0,0.000,R000,Montebello,Lombardia,Pavia,Tuesday,False,False,...,2018,2018-01-02,0.0,Montebello,False,2018-01-02,223.5,179.0,176.0,192.0
2,2018-01-03,0.0,0.000,R000,Montebello,Lombardia,Pavia,Wednesday,False,False,...,2018,2018-01-03,0.0,Montebello,False,2018-01-03,223.5,179.0,176.0,192.0
3,2018-01-04,0.0,0.000,R000,Montebello,Lombardia,Pavia,Thursday,False,False,...,2018,2018-01-04,0.0,Montebello,False,2018-01-04,223.5,179.0,176.0,192.0
4,2018-01-05,0.0,0.000,R000,Montebello,Lombardia,Pavia,Friday,False,False,...,2018,2018-01-05,1.0,Montebello,True,2018-01-05,223.5,179.0,176.0,192.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8812,2022-04-26,624.0,19369.152,R002,Piacenza,Emilia Romagna,Piacenza,Tuesday,False,False,...,2022,2022-04-26,0.0,Piacenza,False,2022-04-26,525.5,374.0,374.0,388.0
8813,2022-04-27,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Wednesday,False,False,...,2022,2022-04-27,0.0,Piacenza,False,2022-04-27,525.5,374.0,374.0,388.0
8814,2022-04-28,723.0,24217.650,R002,Piacenza,Emilia Romagna,Piacenza,Thursday,False,False,...,2022,2022-04-28,0.0,Piacenza,False,2022-04-28,525.5,376.0,376.0,388.0
8815,2022-04-29,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Friday,False,False,...,2022,2022-04-29,0.0,Piacenza,False,2022-04-29,525.5,376.0,376.0,388.0
8816,2022-04-30,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Saturday,True,False,...,2022,2022-04-30,0.0,Piacenza,False,2022-04-30,525.5,376.0,376.0,388.0

# Sistemazione colonne, tipi, ...

In [71]:
### Elimino alcune colonne ridondanti date dal merging

df.drop(['DATA_RILEVAZIONE', 'Territorio', 'TIME', 'Data-Ora', 'Location Ristorante', 'Reference period'], axis=1, inplace=True)

In [72]:
### Creo alcune colonne utili

df['Month'] = df['data'].dt.month

df['Prezzo_medio_per_scontrino'] = df.lordototale.div(df.scontrini)

In [73]:
### Rinomino una colonna

df.rename(columns={'Value':'Popolazione', 'colore':'ColoreCOVID', 'Valore Cumulata Giornaliero': 'Precipitazioni(mm)'},
          inplace=True)

In [74]:
### Riordino le colonne

df = df[['id_ristorante', 'Location','Regione', 'Provincia', 'data', 'scontrini', 'lordototale', 'Prezzo_medio_per_scontrino',
         'Giorno', 'Month', 'Year', 'Season', 'Weekend', 'Festivo', 'Popolazione', 'Precipitazioni(mm)', 'Pioggia', 
         'ColoreCOVID', 'Dose1', 'Dose2', 'DoseUnica', 'Booster1', 'Booster3Dosi', 'Booster2', 'Dose1Cum', 'Dose2Cum', 
         'DoseUnicaCum', 'Booster1Cum', 'Booster3DosiCum', 'Booster2Cum', 'BENZINA', 'GASOLIO_AUTO', 'GPL', 
         'GASOLIO_RISCALDAMENTO', 'O.C._FLUIDO_BTZ', 'O.C._DENSO_BTZ', 'BENZINA/LITRO', 'GASOLIO_AUTO/LITRO', 'GPL/LITRO', 
         'GASOLIO_RISCALDAMENTO/LITRO', 'O.C._FLUIDO_BTZ/LITRO', 'O.C._DENSO_BTZ/LITRO', 'Durum wheat (â‚¬/Tonne)', 
         'Feed barley (â‚¬/Tonne)', 'Maize (â‚¬/Tonne)', 'Milling wheat (â‚¬/Tonne)']]

In [75]:
### Converto gli 0 in NaN

df.replace(0, np.nan, inplace=True)

In [76]:
df

,id_ristorante,Location,Regione,Provincia,data,scontrini,lordototale,Prezzo_medio_per_scontrino,Giorno,Month,...,BENZINA/LITRO,GASOLIO_AUTO/LITRO,GPL/LITRO,GASOLIO_RISCALDAMENTO/LITRO,O.C._FLUIDO_BTZ/LITRO,O.C._DENSO_BTZ/LITRO,Durum wheat (â‚¬/Tonne),Feed barley (â‚¬/Tonne),Maize (â‚¬/Tonne),Milling wheat (â‚¬/Tonne)
0,R000,Montebello,Lombardia,Pavia,2018-01-01,21884.0,500409.900,22.866473,Monday,1,...,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,223.5,179.0,176.0,192.0
1,R000,Montebello,Lombardia,Pavia,2018-01-02,NaN,NaN,NaN,Tuesday,1,...,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,223.5,179.0,176.0,192.0
2,R000,Montebello,Lombardia,Pavia,2018-01-03,NaN,NaN,NaN,Wednesday,1,...,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,223.5,179.0,176.0,192.0
3,R000,Montebello,Lombardia,Pavia,2018-01-04,NaN,NaN,NaN,Thursday,1,...,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,223.5,179.0,176.0,192.0
4,R000,Montebello,Lombardia,Pavia,2018-01-05,NaN,NaN,NaN,Friday,1,...,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,223.5,179.0,176.0,192.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8812,R002,Piacenza,Emilia Romagna,Piacenza,2022-04-26,624.0,19369.152,31.040308,Tuesday,4,...,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000,525.5,374.0,374.0,388.0
8813,R002,Piacenza,Emilia Romagna,Piacenza,2022-04-27,NaN,NaN,NaN,Wednesday,4,...,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000,525.5,374.0,374.0,388.0
8814,R002,Piacenza,Emilia Romagna,Piacenza,2022-04-28,723.0,24217.650,33.496058,Thursday,4,...,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000,525.5,376.0,376.0,388.0
8815,R002,Piacenza,Emilia Romagna,Piacenza,2022-04-29,NaN,NaN,NaN,Friday,4,...,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000,525.5,376.0,376.0,388.0
8816,R002,Piacenza,Emilia Romagna,Piacenza,2022-04-30,NaN,NaN,NaN,Saturday,4,...,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000,525.5,376.0,376.0,388.0

In [77]:
### Salvataggio

df.to_csv('dataset_integrato.csv')

In [78]:
### Divisione nei 6 ristoranti e salvataggio

ristorante1 = df[df['id_ristorante']=='R000']
ristorante2 = df[df['id_ristorante']=='R001']
ristorante3 = df[df['id_ristorante']=='R002']
ristorante4 = df[df['id_ristorante']=='R003']
ristorante5 = df[df['id_ristorante']=='R004']
ristorante6 = df[df['id_ristorante']=='R005']

In [79]:
ristorante1.to_csv('ristorante1.csv')
ristorante2.to_csv('ristorante2.csv')
ristorante3.to_csv('ristorante3.csv')
ristorante4.to_csv('ristorante4.csv')
ristorante5.to_csv('ristorante5.csv')
ristorante6.to_csv('ristorante6.csv')

### Separazione dataset variabili - dataset informazioni generali

In [80]:
for index, row in inforistoranti.iterrows():
    if row['Location'] in pavia:
        inforistoranti.loc[index,'Regione'] = 'Lombardia'
        inforistoranti.loc[index,'Provincia'] = 'Pavia'
    else:
        inforistoranti.loc[index,'Regione'] = 'Emilia Romagna'
        inforistoranti.loc[index,'Provincia'] = 'Piacenza'
        
inforistoranti

  Codice    Location         Regione Provincia
0   R000  Montebello       Lombardia     Pavia
1   R003    Piacenza  Emilia Romagna  Piacenza
2   R005     Voghera       Lombardia     Pavia
3   R004   Stradella       Lombardia     Pavia
4   R001    Piacenza  Emilia Romagna  Piacenza
5   R002    Piacenza  Emilia Romagna  Piacenza

In [81]:
# Lavoro su una copia di "popolazione", usato in precedenza

new_pop = popolazione
new_pop = new_pop.pivot_table(values='Value', index='Territorio', columns='TIME').reset_index().rename_axis(None, axis=1)
new_pop

   Territorio    2018    2019    2020    2021    2022
0  Montebello    1596    1546    1525    1512    1476
1       Pavia   72773   71943   71882   71122   71159
2    Piacenza  103082  103904  104260  102731  102902
3   Stradella   11637   11699   11689   11448   11430
4     Voghera   39354   39051   39006   38435   38455

In [82]:
inforistoranti = pd.merge(inforistoranti, new_pop,  how='left', left_on=['Location'], right_on = ['Territorio'])
inforistoranti.sort_values('Codice', inplace=True)
inforistoranti.reset_index(inplace=True)
inforistoranti.drop(['index', 'Territorio'], axis=1, inplace=True)
inforistoranti.rename(columns={2018:'Pop_2018', 2019:'Pop_2019', 2020:'Pop_2020', 2021:'Pop_2021', 2022:'Pop_2022'},
          inplace=True)
inforistoranti

,Codice,Location,Regione,Provincia,Pop_2018,Pop_2019,Pop_2020,Pop_2021,Pop_2022
0,R000,Montebello,Lombardia,Pavia,1596,1546,1525,1512,1476
1,R001,Piacenza,Emilia Romagna,Piacenza,103082,103904,104260,102731,102902
2,R002,Piacenza,Emilia Romagna,Piacenza,103082,103904,104260,102731,102902
3,R003,Piacenza,Emilia Romagna,Piacenza,103082,103904,104260,102731,102902
4,R004,Stradella,Lombardia,Pavia,11637,11699,11689,11448,11430
5,R005,Voghera,Lombardia,Pavia,39354,39051,39006,38435,38455

In [83]:
### Droppo dal dataset completo le informazioni contenute in inforistoranti

df_clean = df.drop(['Location', 'Regione', 'Provincia', 'Popolazione'], axis=1)
df_clean

,id_ristorante,data,scontrini,lordototale,Prezzo_medio_per_scontrino,Giorno,Month,Year,Season,Weekend,...,BENZINA/LITRO,GASOLIO_AUTO/LITRO,GPL/LITRO,GASOLIO_RISCALDAMENTO/LITRO,O.C._FLUIDO_BTZ/LITRO,O.C._DENSO_BTZ/LITRO,Durum wheat (â‚¬/Tonne),Feed barley (â‚¬/Tonne),Maize (â‚¬/Tonne),Milling wheat (â‚¬/Tonne)
0,R000,2018-01-01,21884.0,500409.900,22.866473,Monday,1,2018,Winter,False,...,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,223.5,179.0,176.0,192.0
1,R000,2018-01-02,NaN,NaN,NaN,Tuesday,1,2018,Winter,False,...,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,223.5,179.0,176.0,192.0
2,R000,2018-01-03,NaN,NaN,NaN,Wednesday,1,2018,Winter,False,...,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,223.5,179.0,176.0,192.0
3,R000,2018-01-04,NaN,NaN,NaN,Thursday,1,2018,Winter,False,...,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,223.5,179.0,176.0,192.0
4,R000,2018-01-05,NaN,NaN,NaN,Friday,1,2018,Winter,False,...,1.55454,1.42658,0.67799,1.21991,0.81581,0.40741,223.5,179.0,176.0,192.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8812,R002,2022-04-26,624.0,19369.152,31.040308,Tuesday,4,2022,Spring,False,...,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000,525.5,374.0,374.0,388.0
8813,R002,2022-04-27,NaN,NaN,NaN,Wednesday,4,2022,Spring,False,...,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000,525.5,374.0,374.0,388.0
8814,R002,2022-04-28,723.0,24217.650,33.496058,Thursday,4,2022,Spring,False,...,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000,525.5,376.0,376.0,388.0
8815,R002,2022-04-29,NaN,NaN,NaN,Friday,4,2022,Spring,False,...,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000,525.5,376.0,376.0,388.0
8816,R002,2022-04-30,NaN,NaN,NaN,Saturday,4,2022,Spring,True,...,1.76628,1.76742,0.84048,1.79283,1.16027,0.79000,525.5,376.0,376.0,388.0

In [84]:
### Salvataggio

df_clean.to_csv('dataset_clean.csv')
inforistoranti.to_csv('info_ristoranti_location.csv')