In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("serie-storiche-ristoranti.csv", parse_dates=["data"])
df.sort_values(by="data", inplace=True)
df

           data  scontrini  lordototale id_ristorante
0    2018-01-01    21884.0     500409.9          R000
1    2018-01-01    19961.0     252223.2          R003
2    2018-01-01    19541.0     408110.4          R005
3    2018-01-01    23173.0     516431.7          R004
4    2018-01-01    28101.0     782775.9          R001
...         ...        ...          ...           ...
8813 2022-04-30        0.0          0.0          R003
8815 2022-04-30        0.0          0.0          R005
8811 2022-04-30        0.0          0.0          R004
8812 2022-04-30        0.0          0.0          R000
8816 2022-04-30        0.0          0.0          R001

[8817 rows x 4 columns]

In [3]:
cittaristoranti = pd.read_csv("Dati/Ristoranti/RistorantiCitta.csv", sep=';')
cittaristoranti

  Codice    Location
0   R000  Montebello
1   R003    Piacenza
2   R005     Voghera
3   R004   Stradella
4   R001    Piacenza
5   R002    Piacenza

In [4]:
### Unione dataset df e cittaristoranti per aggiungere colonna Location
df = df.merge(cittaristoranti, left_on='id_ristorante', right_on='Codice')
df

           data  scontrini  lordototale id_ristorante Codice    Location
0    2018-01-01    21884.0   500409.900          R000   R000  Montebello
1    2018-01-02        0.0        0.000          R000   R000  Montebello
2    2018-01-03        0.0        0.000          R000   R000  Montebello
3    2018-01-04        0.0        0.000          R000   R000  Montebello
4    2018-01-05        0.0        0.000          R000   R000  Montebello
...         ...        ...          ...           ...    ...         ...
8812 2022-04-26      624.0    19369.152          R002   R002    Piacenza
8813 2022-04-27        0.0        0.000          R002   R002    Piacenza
8814 2022-04-28      723.0    24217.650          R002   R002    Piacenza
8815 2022-04-29        0.0        0.000          R002   R002    Piacenza
8816 2022-04-30        0.0        0.000          R002   R002    Piacenza

[8817 rows x 6 columns]

In [5]:
df.drop('Codice', axis = 1, inplace=True)
df

           data  scontrini  lordototale id_ristorante    Location
0    2018-01-01    21884.0   500409.900          R000  Montebello
1    2018-01-02        0.0        0.000          R000  Montebello
2    2018-01-03        0.0        0.000          R000  Montebello
3    2018-01-04        0.0        0.000          R000  Montebello
4    2018-01-05        0.0        0.000          R000  Montebello
...         ...        ...          ...           ...         ...
8812 2022-04-26      624.0    19369.152          R002    Piacenza
8813 2022-04-27        0.0        0.000          R002    Piacenza
8814 2022-04-28      723.0    24217.650          R002    Piacenza
8815 2022-04-29        0.0        0.000          R002    Piacenza
8816 2022-04-30        0.0        0.000          R002    Piacenza

[8817 rows x 5 columns]

In [6]:
### Aggiunta colonna regione e provincia in base alla Location
pavia = ['Montebello', 'Voghera', 'Stradella']

for index, row in df.iterrows():
    if row['Location'] in pavia:
        df.loc[index,'Regione'] = 'Lombardia'
        df.loc[index,'Provincia'] = 'Pavia'
    else:
        df.loc[index,'Regione'] = 'Emilia Romagna'
        df.loc[index,'Provincia'] = 'Piacenza'
        
df

,data,scontrini,lordototale,id_ristorante,Location,Regione,Provincia
0,2018-01-01,21884.0,500409.900,R000,Montebello,Lombardia,Pavia
1,2018-01-02,0.0,0.000,R000,Montebello,Lombardia,Pavia
2,2018-01-03,0.0,0.000,R000,Montebello,Lombardia,Pavia
3,2018-01-04,0.0,0.000,R000,Montebello,Lombardia,Pavia
4,2018-01-05,0.0,0.000,R000,Montebello,Lombardia,Pavia
...,...,...,...,...,...,...,...
8812,2022-04-26,624.0,19369.152,R002,Piacenza,Emilia Romagna,Piacenza
8813,2022-04-27,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza
8814,2022-04-28,723.0,24217.650,R002,Piacenza,Emilia Romagna,Piacenza
8815,2022-04-29,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza
8816,2022-04-30,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza

### WEEKEND, FESTIVI, ...

In [7]:
df['Giorno'] = df['data'].dt.day_name()
df

,data,scontrini,lordototale,id_ristorante,Location,Regione,Provincia,Giorno
0,2018-01-01,21884.0,500409.900,R000,Montebello,Lombardia,Pavia,Monday
1,2018-01-02,0.0,0.000,R000,Montebello,Lombardia,Pavia,Tuesday
2,2018-01-03,0.0,0.000,R000,Montebello,Lombardia,Pavia,Wednesday
3,2018-01-04,0.0,0.000,R000,Montebello,Lombardia,Pavia,Thursday
4,2018-01-05,0.0,0.000,R000,Montebello,Lombardia,Pavia,Friday
...,...,...,...,...,...,...,...,...
8812,2022-04-26,624.0,19369.152,R002,Piacenza,Emilia Romagna,Piacenza,Tuesday
8813,2022-04-27,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Wednesday
8814,2022-04-28,723.0,24217.650,R002,Piacenza,Emilia Romagna,Piacenza,Thursday
8815,2022-04-29,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Friday
8816,2022-04-30,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Saturday

In [8]:
### Creo variabile booleana 'Weekend'

df['Weekend'] = ((df['Giorno'] == 'Saturday') | (df['Giorno'] == 'Sunday'))
df

,data,scontrini,lordototale,id_ristorante,Location,Regione,Provincia,Giorno,Weekend
0,2018-01-01,21884.0,500409.900,R000,Montebello,Lombardia,Pavia,Monday,False
1,2018-01-02,0.0,0.000,R000,Montebello,Lombardia,Pavia,Tuesday,False
2,2018-01-03,0.0,0.000,R000,Montebello,Lombardia,Pavia,Wednesday,False
3,2018-01-04,0.0,0.000,R000,Montebello,Lombardia,Pavia,Thursday,False
4,2018-01-05,0.0,0.000,R000,Montebello,Lombardia,Pavia,Friday,False
...,...,...,...,...,...,...,...,...,...
8812,2022-04-26,624.0,19369.152,R002,Piacenza,Emilia Romagna,Piacenza,Tuesday,False
8813,2022-04-27,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Wednesday,False
8814,2022-04-28,723.0,24217.650,R002,Piacenza,Emilia Romagna,Piacenza,Thursday,False
8815,2022-04-29,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Friday,False
8816,2022-04-30,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Saturday,True

In [9]:
### In questa lista inserisco i festivi "fissi" piÃ¹ Pasquetta che cambia di anno in anno. Non metto la Pasqua perchÃ¨ cade
### sempre di domenica, e tutte le domeniche sono festive. Ho considerato festivo anche San Valentino, data l'importanza
### per i ristoranti
festivi = ['2018-01-01', '2018-01-06','2018-04-25', '2018-05-01', '2018-06-02', '2018-08-15', '2018-11-01', '2018-12-08',
           '2018-12-25', '2018-12-26', '2019-01-01', '2019-01-06', '2019-04-25', '2019-05-01', '2019-06-02', '2019-08-15', 
           '2019-11-01', '2019-12-08', '2019-12-25', '2019-12-26', '2020-01-01', '2020-01-06', '2020-04-25', '2020-05-01', 
           '2020-06-02', '2020-08-15', '2020-11-01', '2020-12-08', '2020-12-25', '2020-12-26', '2021-01-01', '2021-01-06', 
           '2021-04-25', '2021-05-01', '2021-06-02', '2021-08-15', '2021-11-01', '2021-12-08', '2021-12-25', '2021-12-26',
           '2022-01-01', '2022-01-06', '2022-04-25', '2018-04-02', '2019-04-22', '2020-04-13', '2021-04-05', '2022-04-18',
           '2018-02-14', '2019-02-14', '2020-02-14', '2021-02-14', '2022-02-14']

### Il patrono di Montebello si festeggia la prima domenica di ottobre (essendo domenica non specifico ulteriori date)
patrono_piacenza = ['2018-07-04', '2019-07-04', '2020-07-04', '2021-07-04']
patrono_stradella = ['2018-07-12', '2019-07-12', '2020-07-12', '2021-07-12']
patrono_voghera = ['2018-05-22', '2019-05-22', '2020-05-22', '2021-05-22']

In [10]:
### Aggiungo variabile booleana 'Festivi'

df['Festivo'] = (((df['Giorno'] == 'Sunday') | (df['data'].isin(festivi))) | 
                ((df['data'].isin(patrono_piacenza)) & (df['Location'] == 'Piacenza')) |
                ((df['data'].isin(patrono_stradella)) & (df['Location'] == 'Stradella')) |
                ((df['data'].isin(patrono_voghera)) & (df['Location'] == 'Voghera')))

df

,data,scontrini,lordototale,id_ristorante,Location,Regione,Provincia,Giorno,Weekend,Festivo
0,2018-01-01,21884.0,500409.900,R000,Montebello,Lombardia,Pavia,Monday,False,True
1,2018-01-02,0.0,0.000,R000,Montebello,Lombardia,Pavia,Tuesday,False,False
2,2018-01-03,0.0,0.000,R000,Montebello,Lombardia,Pavia,Wednesday,False,False
3,2018-01-04,0.0,0.000,R000,Montebello,Lombardia,Pavia,Thursday,False,False
4,2018-01-05,0.0,0.000,R000,Montebello,Lombardia,Pavia,Friday,False,False
...,...,...,...,...,...,...,...,...,...,...
8812,2022-04-26,624.0,19369.152,R002,Piacenza,Emilia Romagna,Piacenza,Tuesday,False,False
8813,2022-04-27,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Wednesday,False,False
8814,2022-04-28,723.0,24217.650,R002,Piacenza,Emilia Romagna,Piacenza,Thursday,False,False
8815,2022-04-29,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Friday,False,False
8816,2022-04-30,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Saturday,True,False

In [11]:
df['date_offset'] = (df.data.dt.month*100 + df.data.dt.day - 320)%1300

df['season'] = pd.cut(df['date_offset'], [0, 300, 602, 900, 1300], 
                      labels=['spring', 'summer', 'autumn', 'winter'])

df.drop('date_offset', axis=1, inplace=True)
df

,data,scontrini,lordototale,id_ristorante,Location,Regione,Provincia,Giorno,Weekend,Festivo,season
0,2018-01-01,21884.0,500409.900,R000,Montebello,Lombardia,Pavia,Monday,False,True,winter
1,2018-01-02,0.0,0.000,R000,Montebello,Lombardia,Pavia,Tuesday,False,False,winter
2,2018-01-03,0.0,0.000,R000,Montebello,Lombardia,Pavia,Wednesday,False,False,winter
3,2018-01-04,0.0,0.000,R000,Montebello,Lombardia,Pavia,Thursday,False,False,winter
4,2018-01-05,0.0,0.000,R000,Montebello,Lombardia,Pavia,Friday,False,False,winter
...,...,...,...,...,...,...,...,...,...,...,...
8812,2022-04-26,624.0,19369.152,R002,Piacenza,Emilia Romagna,Piacenza,Tuesday,False,False,spring
8813,2022-04-27,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Wednesday,False,False,spring
8814,2022-04-28,723.0,24217.650,R002,Piacenza,Emilia Romagna,Piacenza,Thursday,False,False,spring
8815,2022-04-29,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Friday,False,False,spring
8816,2022-04-30,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Saturday,True,False,spring

# RESTRIZIONI COVID

In [12]:
restrizioni = pd.read_csv("Dati/restrizioniCOVID.csv", parse_dates=["data"])
restrizioni

            data denominazione_regione     colore
0     2020-11-06               Abruzzo     giallo
1     2020-11-07               Abruzzo     giallo
2     2020-11-08               Abruzzo     giallo
3     2020-11-09               Abruzzo     giallo
4     2020-11-10               Abruzzo  arancione
...          ...                   ...        ...
11671 2022-05-11                Veneto     bianco
11672 2022-05-12                Veneto     bianco
11673 2022-05-13                Veneto     bianco
11674 2022-05-14                Veneto     bianco
11675 2022-05-15                Veneto     bianco

[11676 rows x 3 columns]

In [13]:
### Tengo solo Lombardia ed Emilia Romagna

zone_Lomb_Emil = restrizioni[restrizioni['denominazione_regione'].isin(['Lombardia', 'Emilia-Romagna'])]
zone_Lomb_Emil

           data denominazione_regione  colore
2224 2020-11-06        Emilia-Romagna  giallo
2225 2020-11-07        Emilia-Romagna  giallo
2226 2020-11-08        Emilia-Romagna  giallo
2227 2020-11-09        Emilia-Romagna  giallo
2228 2020-11-10        Emilia-Romagna  giallo
...         ...                   ...     ...
4999 2022-05-11             Lombardia  bianco
5000 2022-05-12             Lombardia  bianco
5001 2022-05-13             Lombardia  bianco
5002 2022-05-14             Lombardia  bianco
5003 2022-05-15             Lombardia  bianco

[1112 rows x 3 columns]

In [14]:
### Filtro per date fino al 2022-30-04

zone_Lomb_Emil = zone_Lomb_Emil[zone_Lomb_Emil['data'] < '2022-05-01']
zone_Lomb_Emil

           data denominazione_regione  colore
2224 2020-11-06        Emilia-Romagna  giallo
2225 2020-11-07        Emilia-Romagna  giallo
2226 2020-11-08        Emilia-Romagna  giallo
2227 2020-11-09        Emilia-Romagna  giallo
2228 2020-11-10        Emilia-Romagna  giallo
...         ...                   ...     ...
4984 2022-04-26             Lombardia  bianco
4985 2022-04-27             Lombardia  bianco
4986 2022-04-28             Lombardia  bianco
4987 2022-04-29             Lombardia  bianco
4988 2022-04-30             Lombardia  bianco

[1082 rows x 3 columns]

In [15]:
### Converto 'Emilia-Romagna' in 'Emilia Romagna'

zone_Lomb_Emil.denominazione_regione = zone_Lomb_Emil.denominazione_regione.str.replace('-', ' ')
zone_Lomb_Emil

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

           data denominazione_regione  colore
2224 2020-11-06        Emilia Romagna  giallo
2225 2020-11-07        Emilia Romagna  giallo
2226 2020-11-08        Emilia Romagna  giallo
2227 2020-11-09        Emilia Romagna  giallo
2228 2020-11-10        Emilia Romagna  giallo
...         ...                   ...     ...
4984 2022-04-26             Lombardia  bianco
4985 2022-04-27             Lombardia  bianco
4986 2022-04-28             Lombardia  bianco
4987 2022-04-29             Lombardia  bianco
4988 2022-04-30             Lombardia  bianco

[1082 rows x 3 columns]

In [16]:
### Unione col dataset iniziale in base alla regione

df = df.merge(zone_Lomb_Emil, how='left', left_on=['data','Regione'], right_on = ['data','denominazione_regione'])
df.drop('denominazione_regione', axis = 1, inplace=True)
df

,data,scontrini,lordototale,id_ristorante,Location,Regione,Provincia,Giorno,Weekend,Festivo,season,colore
0,2018-01-01,21884.0,500409.900,R000,Montebello,Lombardia,Pavia,Monday,False,True,winter,NaN
1,2018-01-02,0.0,0.000,R000,Montebello,Lombardia,Pavia,Tuesday,False,False,winter,NaN
2,2018-01-03,0.0,0.000,R000,Montebello,Lombardia,Pavia,Wednesday,False,False,winter,NaN
3,2018-01-04,0.0,0.000,R000,Montebello,Lombardia,Pavia,Thursday,False,False,winter,NaN
4,2018-01-05,0.0,0.000,R000,Montebello,Lombardia,Pavia,Friday,False,False,winter,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
8812,2022-04-26,624.0,19369.152,R002,Piacenza,Emilia Romagna,Piacenza,Tuesday,False,False,spring,bianco
8813,2022-04-27,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Wednesday,False,False,spring,bianco
8814,2022-04-28,723.0,24217.650,R002,Piacenza,Emilia Romagna,Piacenza,Thursday,False,False,spring,bianco
8815,2022-04-29,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Friday,False,False,spring,bianco
8816,2022-04-30,0.0,0.000,R002,Piacenza,Emilia Romagna,Piacenza,Saturday,True,False,spring,bianco

In [17]:
df.to_csv("dataset_integrato.csv")

# VACCINI

In [18]:
vaccini = pd.read_csv("Dati/somministrazioni-vaccini.csv", parse_dates=["data"])
vaccini

,data,forn,area,eta,m,f,d1,d2,dpi,db1,dbi,db2,N1,N2,ISTAT,reg
0,2020-12-27,Moderna,LAZ,40-49,0,1,1,0,0,0,0,0,ITI,ITI4,12,Lazio
1,2020-12-27,Moderna,SIC,90+,0,1,1,0,0,0,0,0,ITG,ITG1,19,Sicilia
2,2020-12-27,Pfizer/BioNTech,ABR,20-29,1,1,2,0,0,0,0,0,ITF,ITF1,13,Abruzzo
3,2020-12-27,Pfizer/BioNTech,ABR,30-39,1,4,5,0,0,0,0,0,ITF,ITF1,13,Abruzzo
4,2020-12-27,Pfizer/BioNTech,ABR,40-49,1,8,9,0,0,0,0,0,ITF,ITF1,13,Abruzzo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226447,2022-05-22,Pfizer/BioNTech,VEN,50-59,7,3,1,0,0,9,0,0,ITH,ITH3,5,Veneto
226448,2022-05-22,Pfizer/BioNTech,VEN,60-69,4,2,0,0,0,5,1,0,ITH,ITH3,5,Veneto
226449,2022-05-22,Pfizer/BioNTech,VEN,70-79,1,2,0,0,0,3,0,0,ITH,ITH3,5,Veneto
226450,2022-05-22,Pfizer/BioNTech,VEN,80-89,18,21,0,0,0,6,6,27,ITH,ITH3,5,Veneto
226451,2022-05-22,Pfizer/BioNTech,VEN,90+,2,10,0,0,0,0,1,11,ITH,ITH3,5,Veneto

In [19]:
### Eliminazione colonne non necessarie (elimino anche la divisione in maschi/femmine, non credo sia rilevante)

vaccini.drop(['area', 'm', 'f', 'N1', 'N2', 'ISTAT'], axis = 1, inplace=True)

In [20]:
vaccini[vaccini['reg']=='Lombardia']

,data,forn,eta,d1,d2,dpi,db1,dbi,db2,reg
52,2020-12-27,Pfizer/BioNTech,20-29,42,0,0,0,0,0,Lombardia
53,2020-12-27,Pfizer/BioNTech,30-39,64,0,0,0,0,0,Lombardia
54,2020-12-27,Pfizer/BioNTech,40-49,142,0,1,0,0,0,Lombardia
55,2020-12-27,Pfizer/BioNTech,50-59,234,0,0,0,0,0,Lombardia
56,2020-12-27,Pfizer/BioNTech,60-69,201,0,0,0,0,0,Lombardia
...,...,...,...,...,...,...,...,...,...,...
225914,2022-05-19,Pfizer/BioNTech,50-59,0,6,2,185,20,2,Lombardia
225915,2022-05-19,Pfizer/BioNTech,60-69,3,5,0,157,73,26,Lombardia
225916,2022-05-19,Pfizer/BioNTech,70-79,2,4,2,136,112,104,Lombardia
225917,2022-05-19,Pfizer/BioNTech,80-89,6,7,3,59,320,1987,Lombardia
225918,2022-05-19,Pfizer/BioNTech,90+,4,4,1,27,100,783,Lombardia

In [21]:
### Mantengo solo Lombardia ed Emilia Romagna

vaccini_Lom_Emil = vaccini[vaccini['reg'].isin(['Lombardia', 'Emilia-Romagna'])]
vaccini_Lom_Emil

,data,forn,eta,d1,d2,dpi,db1,dbi,db2,reg
25,2020-12-27,Pfizer/BioNTech,20-29,139,0,0,0,0,0,Emilia-Romagna
26,2020-12-27,Pfizer/BioNTech,30-39,141,0,0,0,0,0,Emilia-Romagna
27,2020-12-27,Pfizer/BioNTech,40-49,228,0,0,0,0,0,Emilia-Romagna
28,2020-12-27,Pfizer/BioNTech,50-59,288,0,0,0,0,0,Emilia-Romagna
29,2020-12-27,Pfizer/BioNTech,60-69,151,0,0,0,0,0,Emilia-Romagna
...,...,...,...,...,...,...,...,...,...,...
226421,2022-05-22,Pfizer/BioNTech,50-59,0,0,0,3,0,0,Emilia-Romagna
226422,2022-05-22,Pfizer/BioNTech,60-69,2,0,0,1,18,0,Emilia-Romagna
226423,2022-05-22,Pfizer/BioNTech,70-79,1,0,0,0,19,0,Emilia-Romagna
226424,2022-05-22,Pfizer/BioNTech,80-89,0,0,0,0,2,16,Emilia-Romagna
226425,2022-05-22,Pfizer/BioNTech,90+,0,0,0,1,0,4,Emilia-Romagna

In [22]:
### Sistemazione colonne

# Dose1: numero di prime dosi effettuate
# Dose2: numero di seconde dosi effettuate
# DoseUnica: numero di somministrazioni a soggetti con infezione pregressa, che completano il ciclo vaccinale con una sola dose
# Booster1: numero di somministrazioni di dose booster
# Booster3Dosi: numero di somministrazioni di dose booster a chi ha giÃ  il ciclo vaccinale primario con 3 dosi
# Booster2: numero di somministrazioni di seconda dose booster (120 giorni dopo la prima dose booster)

vaccini_Lom_Emil.columns = ['data', 'Fornitore', 'EtÃ ', 'Dose1', 'Dose2', 'DoseUnica', 'Booster1', 'Booster3Dosi', 
                            'Booster2', 'Regione']
vaccini_Lom_Emil

,data,Fornitore,EtÃ,Dose1,Dose2,DoseUnica,Booster1,Booster3Dosi,Booster2,Regione
25,2020-12-27,Pfizer/BioNTech,20-29,139,0,0,0,0,0,Emilia-Romagna
26,2020-12-27,Pfizer/BioNTech,30-39,141,0,0,0,0,0,Emilia-Romagna
27,2020-12-27,Pfizer/BioNTech,40-49,228,0,0,0,0,0,Emilia-Romagna
28,2020-12-27,Pfizer/BioNTech,50-59,288,0,0,0,0,0,Emilia-Romagna
29,2020-12-27,Pfizer/BioNTech,60-69,151,0,0,0,0,0,Emilia-Romagna
...,...,...,...,...,...,...,...,...,...,...
226421,2022-05-22,Pfizer/BioNTech,50-59,0,0,0,3,0,0,Emilia-Romagna
226422,2022-05-22,Pfizer/BioNTech,60-69,2,0,0,1,18,0,Emilia-Romagna
226423,2022-05-22,Pfizer/BioNTech,70-79,1,0,0,0,19,0,Emilia-Romagna
226424,2022-05-22,Pfizer/BioNTech,80-89,0,0,0,0,2,16,Emilia-Romagna
226425,2022-05-22,Pfizer/BioNTech,90+,0,0,0,1,0,4,Emilia-Romagna

In [23]:
### Elimino date dopo 2022-04-30

vaccini_Lom_Emil = vaccini_Lom_Emil[vaccini_Lom_Emil['data'] < '2022-05-01']
vaccini_Lom_Emil

,data,Fornitore,EtÃ,Dose1,Dose2,DoseUnica,Booster1,Booster3Dosi,Booster2,Regione
25,2020-12-27,Pfizer/BioNTech,20-29,139,0,0,0,0,0,Emilia-Romagna
26,2020-12-27,Pfizer/BioNTech,30-39,141,0,0,0,0,0,Emilia-Romagna
27,2020-12-27,Pfizer/BioNTech,40-49,228,0,0,0,0,0,Emilia-Romagna
28,2020-12-27,Pfizer/BioNTech,50-59,288,0,0,0,0,0,Emilia-Romagna
29,2020-12-27,Pfizer/BioNTech,60-69,151,0,0,0,0,0,Emilia-Romagna
...,...,...,...,...,...,...,...,...,...,...
219158,2022-04-30,Pfizer/BioNTech,50-59,6,17,2,380,24,0,Lombardia
219159,2022-04-30,Pfizer/BioNTech,60-69,9,7,0,214,110,0,Lombardia
219160,2022-04-30,Pfizer/BioNTech,70-79,2,9,0,118,170,0,Lombardia
219161,2022-04-30,Pfizer/BioNTech,80-89,3,3,1,59,575,1840,Lombardia
219162,2022-04-30,Pfizer/BioNTech,90+,0,4,0,24,122,420,Lombardia

In [24]:
### Raggruppo per data e regione (non penso che serva la divisione in fasce d'etÃ  o fornitore per la questione ristorazione)

vaccini_Lom_Emil = vaccini_Lom_Emil.groupby(['data', 'Regione'], as_index=False).sum()
vaccini_Lom_Emil

,data,Regione,Dose1,Dose2,DoseUnica,Booster1,Booster3Dosi,Booster2
0,2020-12-27,Emilia-Romagna,973,0,0,0,0,0
1,2020-12-27,Lombardia,718,0,1,0,0,0
2,2020-12-28,Emilia-Romagna,1,0,0,0,0,0
3,2020-12-28,Lombardia,108,0,0,0,0,0
4,2020-12-29,Lombardia,107,0,0,0,0,0
...,...,...,...,...,...,...,...,...
973,2022-04-28,Lombardia,103,221,35,2475,958,4111
974,2022-04-29,Emilia-Romagna,72,153,39,973,949,3794
975,2022-04-29,Lombardia,143,225,80,2708,888,4401
976,2022-04-30,Emilia-Romagna,71,170,60,1146,663,2584
977,2022-04-30,Lombardia,175,374,157,3107,1438,3233

In [25]:
### Separo Lombardia ed Emilia

vacciniLombardia = vaccini_Lom_Emil[vaccini_Lom_Emil['Regione']=='Lombardia']
vacciniEmilia = vaccini_Lom_Emil[vaccini_Lom_Emil['Regione']=='Emilia-Romagna']

In [26]:
### Creo colonne cumulate per tutte le colonne presenti, sia per Emilia Romagna che Lombardia

colonne = ['Dose1', 'Dose2', 'DoseUnica', 'Booster1', 'Booster3Dosi', 'Booster2']

for x in colonne:
    vacciniLombardia[str(x)+'Cum'] = vacciniLombardia[x].cumsum()
    vacciniEmilia[str(x)+'Cum'] = vacciniEmilia[x].cumsum()

C:\Users\cafe6\AppData\Local\Temp/ipykernel_2728/1917638903.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vacciniLombardia[str(x)+'Cum'] = vacciniLombardia[x].cumsum()
C:\Users\cafe6\AppData\Local\Temp/ipykernel_2728/1917638903.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vacciniEmilia[str(x)+'Cum'] = vacciniEmilia[x].cumsum()

In [27]:
vacciniLombardia.to_csv("Dati\VacciniLombardia.csv")
vacciniEmilia.to_csv("Dati\VacciniEmiliaRomagna.csv")

# CARBURANTI

In [28]:
### Le colonne sono il prezzo per 1000 litri

carburanti = pd.read_csv("Dati/prezzi_carburanti_settimanali_dal_2005_a_20220525.csv", parse_dates=["DATA_RILEVAZIONE"])
carburanti

,DATA_RILEVAZIONE,BENZINA,GASOLIO_AUTO,GPL,GASOLIO_RISCALDAMENTO,O.C._FLUIDO_BTZ,O.C._DENSO_BTZ
0,2005-01-03,1115.75,1018.28,552.50,948.50,553.25,229.52
1,2005-01-10,1088.00,1004.39,552.57,947.94,554.22,238.37
2,2005-01-17,1088.14,1004.31,551.88,952.42,562.78,245.89
3,2005-01-24,1090.01,1004.31,551.88,963.98,573.42,243.84
4,2005-01-31,1132.11,1022.60,551.88,972.95,579.23,242.53
...,...,...,...,...,...,...,...
865,2022-04-25,1766.28,1767.42,840.48,1792.83,1160.27,790.00
866,2022-05-02,1778.28,1791.12,844.79,1839.33,1179.45,804.78
867,2022-05-09,1808.27,1830.60,837.75,1827.79,1169.09,801.11
868,2022-05-16,1823.14,1827.96,834.31,1808.92,1168.18,795.89
869,2022-05-23,1873.11,1819.95,832.08,1785.74,1190.00,801.89

In [29]:
### Elimino date precedenti al 2018-01-01 e successive al 2022-04-30

carburanti = carburanti[(carburanti['DATA_RILEVAZIONE'] > '2018-01-01') & (carburanti['DATA_RILEVAZIONE'] < '2022-05-01')]
carburanti

,DATA_RILEVAZIONE,BENZINA,GASOLIO_AUTO,GPL,GASOLIO_RISCALDAMENTO,O.C._FLUIDO_BTZ,O.C._DENSO_BTZ
646,2018-01-08,1561.51,1435.68,677.60,1230.87,821.34,421.30
647,2018-01-15,1566.62,1441.24,677.56,1242.54,832.90,421.10
648,2018-01-22,1571.37,1446.52,677.48,1235.87,826.01,413.74
649,2018-01-29,1572.83,1447.78,677.71,1239.60,824.93,412.07
650,2018-02-05,1573.42,1447.59,670.96,1225.59,817.34,407.55
...,...,...,...,...,...,...,...
861,2022-03-28,1870.44,1857.88,843.54,1841.88,1172.27,835.67
862,2022-04-04,1792.72,1788.17,829.69,1758.71,1156.91,798.44
863,2022-04-11,1765.36,1760.56,837.28,1737.44,1135.27,765.89
864,2022-04-18,1757.24,1750.73,838.93,1785.76,1155.91,787.33
865,2022-04-25,1766.28,1767.42,840.48,1792.83,1160.27,790.00

In [30]:
carburanti.to_csv("Dati\datasetCarburanti.csv")

# METEO

## PIACENZA

In [31]:
### Leggo tutti i csv e li concateno

import glob

# Get CSV files list from a folder
path = 'Dati/Meteo Piacenza'
csv_files = glob.glob(path + "/*.csv")

# Read each CSV file into DataFrame
# This creates a list of dataframes
df_list = (pd.read_csv(file, sep=';') for file in csv_files)

# Concatenate all DataFrames
meteo_piacenza = pd.concat(df_list, ignore_index=True)

In [32]:
meteo_piacenza['DATA'] =  pd.to_datetime(meteo_piacenza['DATA'], format='%d/%m/%Y')

In [33]:
meteo_piacenza.sort_values('DATA', inplace=True)
meteo_piacenza

,LOCALITA,DATA,TMEDIA Â°C,TMIN Â°C,TMAX Â°C,PUNTORUGIADA Â°C,UMIDITA %,VISIBILITA km,VENTOMEDIA km/h,VENTOMAX km/h,RAFFICA km/h,PRESSIONESLM mb,PRESSIONEMEDIA mb,PIOGGIA mm,FENOMENI
120,Piacenza,2018-01-01,3.0,1.0,5.0,3.0,100.0,2.0,7.0,11.0,0.0,1011.0,0.0,0.0,pioggia neve
121,Piacenza,2018-01-02,7.0,0.0,12.0,2.0,60.0,17.0,15.0,33.0,0.0,1013.0,0.0,0.0,NaN
122,Piacenza,2018-01-03,5.0,0.0,8.0,3.0,82.0,18.0,6.0,11.0,0.0,1007.0,0.0,0.0,NaN
123,Piacenza,2018-01-04,7.0,1.0,11.0,4.0,82.0,20.0,5.0,11.0,0.0,1006.0,0.0,0.0,NaN
124,Piacenza,2018-01-05,4.0,-1.0,6.0,5.0,100.0,6.0,4.0,9.0,0.0,1008.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1486,Piacenza,2022-04-26,16.0,11.0,18.0,14.0,90.0,19.0,7.0,11.0,0.0,1012.0,0.0,0.0,NaN
1487,Piacenza,2022-04-27,17.0,9.0,20.0,12.0,76.0,22.0,8.0,13.0,0.0,1017.0,0.0,0.0,NaN
1488,Piacenza,2022-04-28,16.0,9.0,20.0,10.0,70.0,21.0,13.0,18.0,0.0,1022.0,0.0,0.0,NaN
1489,Piacenza,2022-04-29,17.0,10.0,20.0,8.0,56.0,20.0,13.0,21.0,0.0,1023.0,0.0,0.0,NaN
1490,Piacenza,2022-04-30,18.0,9.0,20.0,8.0,56.0,23.0,12.0,17.0,0.0,1018.0,0.0,0.0,NaN

In [34]:
meteo_piacenza.groupby('FENOMENI').count()

,LOCALITA,DATA,TMEDIA Â°C,TMIN Â°C,TMAX Â°C,PUNTORUGIADA Â°C,UMIDITA %,VISIBILITA km,VENTOMEDIA km/h,VENTOMAX km/h,RAFFICA km/h,PRESSIONESLM mb,PRESSIONEMEDIA mb,PIOGGIA mm
FENOMENI,,,,,,,,,,,,,,
nebbia,93,93,93,93,93,93,93,93,93,93,93,93,93,93
neve,5,5,5,5,5,5,5,5,5,5,5,5,5,5
neve nebbia,2,2,2,2,2,2,2,2,2,2,2,2,2,2
pioggia,204,204,204,204,204,204,204,204,204,204,204,204,204,204
pioggia nebbia,34,34,34,34,34,34,34,34,34,34,34,34,34,34
pioggia neve,10,10,10,10,10,10,10,10,10,10,10,10,10,10
pioggia neve nebbia,1,1,1,1,1,1,1,1,1,1,1,1,1,1
pioggia temporale,114,114,114,114,114,114,114,114,114,114,114,114,114,114
pioggia temporale nebbia,2,2,2,2,2,2,2,2,2,2,2,2,2,2

In [35]:
meteo_piacenza.to_csv("Dati/meteo_piacenza_completo.csv")

## PAVIA

In [36]:
# Get CSV files list from a folder

path = 'Dati/Meteo Pavia'
csv_files = glob.glob(path + "/*.csv")

# Read each CSV file into DataFrame
# This creates a list of dataframes
df_list = (pd.read_csv(file, sep=';') for file in csv_files)

# Concatenate all DataFrames
meteo_pavia = pd.concat(df_list, ignore_index=True)

In [37]:
meteo_pavia['DATA'] =  pd.to_datetime(meteo_piacenza['DATA'], format='%d/%m/%Y')

In [38]:
meteo_pavia.sort_values('DATA', inplace=True)
meteo_pavia

,LOCALITA,DATA,TMEDIA Â°C,TMIN Â°C,TMAX Â°C,PUNTORUGIADA Â°C,UMIDITA %,VISIBILITA km,VENTOMEDIA km/h,VENTOMAX km/h,RAFFICA km/h,PRESSIONESLM mb,PRESSIONEMEDIA mb,PIOGGIA mm,FENOMENI
120,Pavia,2018-01-01,3.0,2.0,5.0,3.0,94.0,5.0,5.0,11.0,0.0,1012.0,0.0,0.0,pioggia
121,Pavia,2018-01-02,6.0,2.0,14.0,2.0,72.0,13.0,8.0,21.0,0.0,1014.0,0.0,0.0,NaN
122,Pavia,2018-01-03,4.0,-1.0,8.0,1.0,73.0,19.0,6.0,18.0,0.0,1010.0,0.0,0.0,pioggia
123,Pavia,2018-01-04,6.0,2.0,12.0,3.0,75.0,18.0,6.0,13.0,0.0,1007.0,0.0,0.0,NaN
124,Pavia,2018-01-05,5.0,2.0,8.0,3.0,89.0,5.0,5.0,15.0,0.0,1009.0,0.0,0.0,pioggia nebbia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1484,Pavia,2022-04-24,13.0,5.0,21.0,1.0,45.0,18.0,5.0,11.0,0.0,1027.0,0.0,0.0,NaN
1485,Pavia,2022-04-25,13.0,4.0,22.0,2.0,44.0,17.0,4.0,9.0,0.0,1024.0,0.0,0.0,NaN
1486,Pavia,2022-04-26,12.0,8.0,18.0,4.0,60.0,14.0,7.0,17.0,0.0,1014.0,0.0,0.0,NaN
1487,Pavia,2022-04-27,11.0,10.0,13.0,8.0,82.0,9.0,10.0,17.0,0.0,1005.0,0.0,0.0,pioggia
1488,Pavia,2022-04-28,12.0,9.0,15.0,9.0,83.0,10.0,7.0,11.0,0.0,994.0,0.0,0.0,pioggia

In [39]:
meteo_pavia.to_csv("Dati/meteo_pavia_completo.csv")